In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import requests

In [2]:
csv = pd.read_csv('single_family_homes.csv')
csv

,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,...,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020
0,0,California,State,CA,163448.0,163222.0,163083.0,162811.0,162636.0,162502.0,...,568077,570568,573417,577008,580685,583797,585683,587400,591081,596946
1,1,Texas,State,TX,98109.0,98134.0,98166.0,98293.0,98435.0,98552.0,...,210141,210520,210999,211492,212191,212962,213722,214479,215340,216353
2,2,New York,State,NY,121051.0,120775.0,120612.0,120363.0,120263.0,120196.0,...,272042,272757,273458,274247,275032,275972,276852,277899,279281,281025
3,3,Florida,State,FL,103811.0,103917.0,104039.0,104269.0,104489.0,104732.0,...,259043,259794,260778,262048,263474,264866,266197,267493,268802,270602
4,4,Illinois,State,IL,140964.0,140708.0,140385.0,140002.0,139477.0,139164.0,...,206250,206398,206664,206943,207355,207707,208053,208455,209183,210192
5,5,Pennsylvania,State,PA,97246.0,97184.0,97122.0,97022.0,96929.0,96888.0,...,197530,198195,198834,199542,200340,201268,202066,203047,204229,205792
6,6,Ohio,State,OH,93282.0,93397.0,93547.0,93860.0,94185.0,94482.0,...,153332,153946,154662,155425,156216,157085,157988,158967,159987,161293
7,7,Michigan,State,MI,89468.0,89790.0,90097.0,90755.0,91405.0,92069.0,...,172213,172858,173580,174293,175230,176198,176885,177413,178226,179660
8,8,Georgia,State,GA,103566.0,103724.0,103885.0,104234.0,104583.0,104953.0,...,203961,204655,205463,206457,207420,208399,209347,210452,211615,212859
9,9,North Carolina,State,NC,110698.0,110914.0,111107.0,111508.0,111901.0,112348.0,...,206247,207082,207870,208835,209901,211044,212221,213412,214727,216183
10,10,New Jersey,State,NJ,168615.0,168294.0,168061.0,167621.0,167280.0,166973.0,...,349436,350197,351132,352304,353516,354934,356202,357780,359715,362917
11,11,Virginia,State,VA,121704.0,121652.0,121660.0,121641.0,121597.0,121541.0,...,288790,289456,290103,290939,291813,292885,294136,295487,296951,298481
12,12,Washington,State,WA,142023.0,142031.0,142059.0,142129.0,142265.0,142610.0,...,418249,421069,424093,427365,431027,434776,437617,440623,444315,449642
13,13,Massachusetts,State,MA,160737.0,160738.0,160864.0,161083.0,161322.0,161571.0,...,436200,437419,439170,441180,443691,445929,448172,450059,453114,457367
14,14,Indiana,State,IN,109895.0,109875.0,109431.0,109055.0,108852.0,109021.0,...,157687,158299,158905,159699,160495,161368,162144,163012,163895,164847
15,15,Arizona,State,AZ,111139.0,111456.0,111820.0,112481.0,113101.0,113661.0,...,277057,279253,281336,283391,285730,288824,291574,294068,296606,299853
16,16,Tennessee,State,TN,89299.0,89474.0,89688.0,90105.0,90543.0,90991.0,...,184308,185296,186299,187391,188578,189812,190999,192227,193538,194904
17,17,Missouri,State,MO,82656.0,82861.0,83022.0,83342.0,83601.0,83838.0,...,164047,164548,165068,165682,166395,167187,167932,168843,169954,171387
18,18,Maryland,State,MD,155046.0,155046.0,155049.0,155106.0,155252.0,155371.0,...,322836,323149,323646,324332,325398,326489,327699,328954,330898,333305
19,19,Wisconsin,State,WI,97248.0,97388.0,97492.0,97791.0,98144.0,98638.0,...,196984,197883,198757,199631,200444,201324,202342,203565,204892,206454
20,20,Minnesota,State,MN,105384.0,105208.0,105134.0,105056.0,105132.0,105362.0,...,263647,264544,265395,266360,267499,268689,269792,270807,272020,273596
21,21,Colorado,State,CO,143144.0,143615.0,144002.0,144786.0,145473.0,146155.0,...,411323,412522,414281,415932,417795,419633,421780,423726,425944,428573
22,22,Alabama,State,AL,83797.0,83900.0,83984.0,84102.0,84168.0,84270.0,...,141919,142652,143393,144159,144982,145852,146743,147548,148374,149376
23,23,South Carolina,State,SC,97640.0,97749.0,97788.0,97990.0,98140.0,98396.0,...,191357,192000,192595,193264,194060,194907,195955,196982,198085,199238
24,24,Louisiana,State,LA,83051.0,83366.0,83602.0,84097.0,84385.0,84648.0,...,167629,168129,168635,169051,169457,169970,170369,170751,171220,171897
25,25,Kentucky,State,KY,75816.0,75973.0,76103.0,76398.0,76656.0,76919.0,...,148205,148844,149420,149915,150471,151072,151618,152152,152729,153568
26,26,Oregon,State,OR,128520.0,128992.0,129404.0,130233.0,131040.0,131857.0,...,360751,361928,363126,364558,366469,368487,370583,372311,374482,377165
27,27,Oklahoma,State,OK,64193.0,64290.0,64444.0,64700.0,64968.0,65168.0,...,130512,131062,131774,132390,133110,133836,134590,135279,135953,136733
28,28,Connecticut,State,CT,159117.0,158914.0,159160.0,159329.0,159454.0,159515.0,...,274577,274793,275644,276373,277326,278160,279203,280600,282674,285380
29,29,Iowa,State,IA,80188.0,80355.0,80508.0,80811.0,81041.0,81247.0,...,155548,155895,156235,156471,156748,156995,157341,157665,158058,158328
30,30,Mississippi,State,MS,72397.0,72396.0,72469.0,72560.0,72708.0,72838.0,...,124602,124993,125385,125701,125992,126179,126472,126755,127152,127493
31,31,Arkansas,State,AR,69875.0,69908.0,69986.0,70097.0,70226.0,70342.0,...,131599,131914,132238,132654,133145,133638,134085,134568,135103,135710
32,32,Kansas,State,KS,143388.0,143664.0,143956.0,144449.0,144777.0,145095.0,...,285726,286482,287293,288409,289622,290944,292269,293525,294890,296503
33,33,Utah,State,UT,161409.0,161541.0,161817.0,162297.0,162939.0,163452.0,...,355682,357038,358985,360936,363308,365865,368941,371954,375288,379018
34,34,Nevada,State,NV,162557.0,162516.0,162664.0,162808.0,163083.0,163248.0,...,314459,315237,316367,317338,319437,321239,322502,323144,324849,327941
35,35,New Mexico,State,NM,NaN,NaN,NaN,NaN,NaN,NaN,...,206053,206857,207864,209027,210318,211682,213041,214247,215704,217263
36,36,West Virginia,State,WV,60664.0,60670.0,60673.0,60684.0,60689.0,60700.0,...,106073,106170,106251,106388,106525,106687,106935,107163,107385,107569
37,37,Nebraska,State,NE,84023.0,84348.0,84566.0,85036.0,85368.0,85754.0,...,177672,178178,178769,179496,180293,180946,181452,181995,182660,183491
38,38,Idaho,State,ID,124166.0,123977.0,123901.0,123717.0,123588.0,123425.0,...,288945,291189,293454,296245,298803,301661,304214,307070,309806,313064
39,39,Hawaii,State,HI,264423.0,263329.0,262358.0,260331.0,258001.0,255391.0,...,724543,724695,724979,725260,725525,727041,729324,731513,732197,733084
40,40,Maine,State,ME,99312.0,98960.0,98744.0,98252.0,97886.0,97515.0,...,242946,244462,246283,248019,249975,251805,253462,254743,256180,258347
41,41,New Hampshire,State,NH,111454.0,111187.0,111006.0,110733.0,110785.0,111025.0,...,305005,306316,307737,309597,311801,314007,315505,316892,318841,321889
42,42,Rhode Island,State,RI,128951.0,129058.0,129060.0,129080.0,128920.0,128652.0,...,308402,309682,311048,312691,314241,316113,317953,319831,321476,324159
43,43,Montana,State,MT,NaN,NaN,NaN,NaN,NaN,NaN,...,283199,284534,285948,287192,288438,289616,291088,292277,293880,295408
44,44,Delaware,State,DE,133311.0,133253.0,133195.0,133054.0,133178.0,133454.0,...,260325,260455,260722,261344,261835,262957,264777,267035,269329,271520
45,45,South Dakota,State,SD,87045.0,87450.0,87411.0,87470.0,87257.0,87279.0,...,212874,213563,214299,215173,215977,216802,217224,217686,218182,218975
46,46,Alaska,State,AK,130396.0,130902.0,131345.0,132269.0,132942.0,133567.0,...,323852,322610,322893,321084,318803,315314,314017,312569,311777,310346
47,47,North Dakota,State,ND,NaN,NaN,NaN,NaN,NaN,NaN,...,239872,240182,240284,240567,240865,241255,241447,241578,241519,241279
48,48,Vermont,State,VT,109882.0,109862.0,109772.0,109627.0,109442.0,109165.0,...,264776,265430,266208,266642,267219,267745,268641,269446,270266,270736
49,49,District of Columbia,State,DC,195619.0,194616.0,193753.0,192309.0,191192.0,190379.0,...,740415,741593,743612,745868,747234,749539,748279,748004,748496,752219
50,50,Wyoming,State,WY,NaN,NaN,NaN,NaN,NaN,NaN,...,250553,251574,252485,253358,253938,254394,254690,255055,255351,255792

In [3]:
col_list = ['StateName', '6/30/2006','6/30/2007', '6/30/2008', '6/30/2009', '6/30/2010', '6/30/2011', '6/30/2012', '6/30/2013', '6/30/2014', '6/30/2015', '6/30/2016', '6/30/2017', '6/30/2018', '6/30/2019', '6/30/2020']
home_sales = csv[col_list]
home_sales

,StateName,6/30/2006,6/30/2007,6/30/2008,6/30/2009,6/30/2010,6/30/2011,6/30/2012,6/30/2013,6/30/2014,6/30/2015,6/30/2016,6/30/2017,6/30/2018,6/30/2019,6/30/2020
0,CA,535353,513987,416247,332653,338654,316461,311766,373983,423658,447789,480300,514383,555463,562872,587400
1,TX,136411,141734,141588,138078,138348,132509,133666,140757,151808,163822,175013,186899,198108,207609,214479
2,NY,240184,243486,241204,227910,226321,219125,214900,218842,225308,229103,235528,246011,258673,270366,277899
3,FL,279318,269232,223001,175795,163062,145904,145116,161685,181107,193642,210815,228108,244794,255701,267493
4,IL,233868,236201,222447,194882,184832,166651,157260,161937,172527,178046,184279,193718,201720,206240,208455
5,PA,172153,177616,176946,169848,170462,161739,158504,160142,162972,165862,169680,176531,187023,194671,203047
6,OH,135799,134461,130065,123202,121001,114133,111331,113175,115672,120226,125297,132885,142090,150259,158967
7,MI,153501,146466,131375,110150,103706,95781,96761,107335,120445,127134,135092,146848,159320,169276,177413
8,GA,169907,174592,168091,149311,141081,125426,122357,131538,144797,153280,162615,172191,187678,200435,210452
9,NC,164289,172882,174436,166712,161825,153560,149673,151993,157033,161539,168302,178943,190805,202302,213412
10,NJ,410640,404394,377540,343712,334652,311516,294525,297926,312309,313914,316605,325487,340979,348578,357780
11,VA,288134,287339,266422,244291,242045,231978,230794,238798,246404,250210,254925,264852,274431,284556,295487
12,WA,305993,327520,310650,273724,264663,237158,227930,250569,268877,288580,319127,355097,394600,408971,440623
13,MA,401036,380142,356825,330503,336955,321464,313011,331933,350833,361042,378879,399264,424054,433274,450059
14,IN,120816,123020,122663,119125,118104,113725,113693,115192,119017,122936,127078,134858,144522,154086,163012
15,AZ,289314,273761,227013,178740,166065,143865,154450,182888,199390,208731,222279,237012,255594,269335,294068
16,TN,136619,142925,140990,134683,132578,127345,125814,128689,134120,139099,147002,157908,169853,180107,192227
17,MO,139383,141700,138532,132496,130663,121653,119596,122199,126171,130426,136619,144828,154022,162005,168843
18,MD,368046,372172,341794,295207,283359,265195,258231,271792,284732,286404,292254,303603,315833,322164,328954
19,WI,170757,172439,168086,158400,156212,143668,140234,143003,149617,153717,159961,171186,183443,193226,203565
20,MN,232589,228883,212091,191452,189614,171144,168183,183233,199738,205198,216477,232415,247891,259167,270807
21,CO,255745,256683,247706,240184,239836,229207,233585,252883,272582,301356,333725,363308,390613,407024,423726
22,AL,126891,132882,131912,126490,121892,115957,113671,115039,117262,119785,122892,126704,132735,139057,147548
23,SC,159579,166180,165459,156444,152798,143998,141643,143504,148708,154032,160841,169492,179634,188283,196982
24,LA,144353,150575,151296,150402,149870,144743,144979,146381,149713,153269,157153,161567,165539,166508,170751
25,KY,115465,117214,116733,115696,115056,111012,110696,111984,114673,118509,123751,130962,138698,145258,152152
26,OR,265809,284610,271804,242279,231142,209014,206020,227813,246187,264796,294980,322611,344337,356184,372311
27,OK,100562,103794,105318,104673,106547,102704,103324,105429,108407,112760,115585,119639,123432,127820,135279
28,CT,342771,338010,318588,292070,283718,266239,249416,256361,258993,257734,257520,264214,271910,275332,280600
29,IA,122263,125085,125326,123761,123897,120005,120558,124217,127927,131374,136509,142533,148044,153515,157665
30,MS,108659,114710,113134,109327,106670,103965,103040,102258,102839,107560,110118,113783,117764,122936,126755
31,AR,108936,111635,111600,107492,106539,102654,103943,106173,107852,110222,114250,118679,124530,129537,134568
32,KS,221454,229139,231322,229863,229949,221206,219876,223096,226500,235493,244375,256030,269909,281291,293525
33,UT,214443,251608,254793,228474,216968,198428,200459,223988,237775,248932,269095,294990,323647,348826,371954
34,NV,366619,346735,268582,188133,164045,147160,142734,177296,207115,223598,241000,258578,298574,315649,323144
35,NM,182558,197106,195146,184084,179555,167912,164561,166939,171442,172671,177316,183181,191085,201511,214247
36,WV,89899,92186,93311,90693,88832,87117,87419,88990,91121,93669,96141,97675,101680,104800,107163
37,NE,129229,130178,126795,124702,127851,121976,122577,128077,132457,138407,144173,154879,165277,174314,181995
38,ID,193898,202264,201378,177991,163429,144225,149610,169462,179095,187022,202007,220323,248856,278561,307070
39,HI,582318,587817,582324,522418,519179,519313,516175,542127,595680,619089,642293,686081,717223,723750,731513
40,ME,215992,215478,210101,194593,192051,186111,182744,186578,188830,192806,201883,214689,227844,237121,254743
41,NH,283520,273528,258053,237982,231126,224820,218514,226906,236365,246202,254549,270201,288405,300849,316892
42,RI,332115,313469,292025,253463,252449,238602,223914,232436,245430,247191,260354,278218,296845,304399,319831
43,MT,199237,211331,215440,211540,205744,198003,200350,209569,219971,230115,236605,248353,263341,277490,292277
44,DE,273705,280142,269948,248670,242951,225200,214430,211745,222841,229524,237391,243175,254572,260502,267035
45,SD,146620,150955,154830,154906,153770,152499,153607,159135,164462,171478,180198,190935,200116,210144,217686
46,AK,252226,267666,273227,273450,273115,269335,275102,282165,289918,303249,306655,308271,310712,328092,312569
47,ND,155559,162555,168210,169038,169101,172319,177785,196228,210304,226694,232144,234013,235418,237027,241578
48,VT,228370,239305,241026,235946,231154,231047,230287,230376,230028,232834,234764,240915,252201,261043,269446
49,DC,521261,520250,502861,465422,467132,454470,462630,527646,601212,597228,634032,662392,693096,738187,748004
50,WY,184250,199581,202383,198818,196118,193329,197052,203823,210869,218739,224299,224799,233757,244731,255055

In [4]:
median_sfh = pd.DataFrame(home_sales)

median_sfh

,StateName,6/30/2006,6/30/2007,6/30/2008,6/30/2009,6/30/2010,6/30/2011,6/30/2012,6/30/2013,6/30/2014,6/30/2015,6/30/2016,6/30/2017,6/30/2018,6/30/2019,6/30/2020
0,CA,535353,513987,416247,332653,338654,316461,311766,373983,423658,447789,480300,514383,555463,562872,587400
1,TX,136411,141734,141588,138078,138348,132509,133666,140757,151808,163822,175013,186899,198108,207609,214479
2,NY,240184,243486,241204,227910,226321,219125,214900,218842,225308,229103,235528,246011,258673,270366,277899
3,FL,279318,269232,223001,175795,163062,145904,145116,161685,181107,193642,210815,228108,244794,255701,267493
4,IL,233868,236201,222447,194882,184832,166651,157260,161937,172527,178046,184279,193718,201720,206240,208455
5,PA,172153,177616,176946,169848,170462,161739,158504,160142,162972,165862,169680,176531,187023,194671,203047
6,OH,135799,134461,130065,123202,121001,114133,111331,113175,115672,120226,125297,132885,142090,150259,158967
7,MI,153501,146466,131375,110150,103706,95781,96761,107335,120445,127134,135092,146848,159320,169276,177413
8,GA,169907,174592,168091,149311,141081,125426,122357,131538,144797,153280,162615,172191,187678,200435,210452
9,NC,164289,172882,174436,166712,161825,153560,149673,151993,157033,161539,168302,178943,190805,202302,213412
10,NJ,410640,404394,377540,343712,334652,311516,294525,297926,312309,313914,316605,325487,340979,348578,357780
11,VA,288134,287339,266422,244291,242045,231978,230794,238798,246404,250210,254925,264852,274431,284556,295487
12,WA,305993,327520,310650,273724,264663,237158,227930,250569,268877,288580,319127,355097,394600,408971,440623
13,MA,401036,380142,356825,330503,336955,321464,313011,331933,350833,361042,378879,399264,424054,433274,450059
14,IN,120816,123020,122663,119125,118104,113725,113693,115192,119017,122936,127078,134858,144522,154086,163012
15,AZ,289314,273761,227013,178740,166065,143865,154450,182888,199390,208731,222279,237012,255594,269335,294068
16,TN,136619,142925,140990,134683,132578,127345,125814,128689,134120,139099,147002,157908,169853,180107,192227
17,MO,139383,141700,138532,132496,130663,121653,119596,122199,126171,130426,136619,144828,154022,162005,168843
18,MD,368046,372172,341794,295207,283359,265195,258231,271792,284732,286404,292254,303603,315833,322164,328954
19,WI,170757,172439,168086,158400,156212,143668,140234,143003,149617,153717,159961,171186,183443,193226,203565
20,MN,232589,228883,212091,191452,189614,171144,168183,183233,199738,205198,216477,232415,247891,259167,270807
21,CO,255745,256683,247706,240184,239836,229207,233585,252883,272582,301356,333725,363308,390613,407024,423726
22,AL,126891,132882,131912,126490,121892,115957,113671,115039,117262,119785,122892,126704,132735,139057,147548
23,SC,159579,166180,165459,156444,152798,143998,141643,143504,148708,154032,160841,169492,179634,188283,196982
24,LA,144353,150575,151296,150402,149870,144743,144979,146381,149713,153269,157153,161567,165539,166508,170751
25,KY,115465,117214,116733,115696,115056,111012,110696,111984,114673,118509,123751,130962,138698,145258,152152
26,OR,265809,284610,271804,242279,231142,209014,206020,227813,246187,264796,294980,322611,344337,356184,372311
27,OK,100562,103794,105318,104673,106547,102704,103324,105429,108407,112760,115585,119639,123432,127820,135279
28,CT,342771,338010,318588,292070,283718,266239,249416,256361,258993,257734,257520,264214,271910,275332,280600
29,IA,122263,125085,125326,123761,123897,120005,120558,124217,127927,131374,136509,142533,148044,153515,157665
30,MS,108659,114710,113134,109327,106670,103965,103040,102258,102839,107560,110118,113783,117764,122936,126755
31,AR,108936,111635,111600,107492,106539,102654,103943,106173,107852,110222,114250,118679,124530,129537,134568
32,KS,221454,229139,231322,229863,229949,221206,219876,223096,226500,235493,244375,256030,269909,281291,293525
33,UT,214443,251608,254793,228474,216968,198428,200459,223988,237775,248932,269095,294990,323647,348826,371954
34,NV,366619,346735,268582,188133,164045,147160,142734,177296,207115,223598,241000,258578,298574,315649,323144
35,NM,182558,197106,195146,184084,179555,167912,164561,166939,171442,172671,177316,183181,191085,201511,214247
36,WV,89899,92186,93311,90693,88832,87117,87419,88990,91121,93669,96141,97675,101680,104800,107163
37,NE,129229,130178,126795,124702,127851,121976,122577,128077,132457,138407,144173,154879,165277,174314,181995
38,ID,193898,202264,201378,177991,163429,144225,149610,169462,179095,187022,202007,220323,248856,278561,307070
39,HI,582318,587817,582324,522418,519179,519313,516175,542127,595680,619089,642293,686081,717223,723750,731513
40,ME,215992,215478,210101,194593,192051,186111,182744,186578,188830,192806,201883,214689,227844,237121,254743
41,NH,283520,273528,258053,237982,231126,224820,218514,226906,236365,246202,254549,270201,288405,300849,316892
42,RI,332115,313469,292025,253463,252449,238602,223914,232436,245430,247191,260354,278218,296845,304399,319831
43,MT,199237,211331,215440,211540,205744,198003,200350,209569,219971,230115,236605,248353,263341,277490,292277
44,DE,273705,280142,269948,248670,242951,225200,214430,211745,222841,229524,237391,243175,254572,260502,267035
45,SD,146620,150955,154830,154906,153770,152499,153607,159135,164462,171478,180198,190935,200116,210144,217686
46,AK,252226,267666,273227,273450,273115,269335,275102,282165,289918,303249,306655,308271,310712,328092,312569
47,ND,155559,162555,168210,169038,169101,172319,177785,196228,210304,226694,232144,234013,235418,237027,241578
48,VT,228370,239305,241026,235946,231154,231047,230287,230376,230028,232834,234764,240915,252201,261043,269446
49,DC,521261,520250,502861,465422,467132,454470,462630,527646,601212,597228,634032,662392,693096,738187,748004
50,WY,184250,199581,202383,198818,196118,193329,197052,203823,210869,218739,224299,224799,233757,244731,255055

In [5]:
median_sfh.to_csv('median_sales_prices', index=True)

In [6]:
df = pd.read_csv('median_sales_prices')
df.head()

,Unnamed: 0,StateName,6/30/2006,6/30/2007,6/30/2008,6/30/2009,6/30/2010,6/30/2011,6/30/2012,6/30/2013,6/30/2014,6/30/2015,6/30/2016,6/30/2017,6/30/2018,6/30/2019,6/30/2020
0,0,CA,535353,513987,416247,332653,338654,316461,311766,373983,423658,447789,480300,514383,555463,562872,587400
1,1,TX,136411,141734,141588,138078,138348,132509,133666,140757,151808,163822,175013,186899,198108,207609,214479
2,2,NY,240184,243486,241204,227910,226321,219125,214900,218842,225308,229103,235528,246011,258673,270366,277899
3,3,FL,279318,269232,223001,175795,163062,145904,145116,161685,181107,193642,210815,228108,244794,255701,267493
4,4,IL,233868,236201,222447,194882,184832,166651,157260,161937,172527,178046,184279,193718,201720,206240,208455

In [7]:
df2 = df.drop(columns = 'Unnamed: 0')
df2

,StateName,6/30/2006,6/30/2007,6/30/2008,6/30/2009,6/30/2010,6/30/2011,6/30/2012,6/30/2013,6/30/2014,6/30/2015,6/30/2016,6/30/2017,6/30/2018,6/30/2019,6/30/2020
0,CA,535353,513987,416247,332653,338654,316461,311766,373983,423658,447789,480300,514383,555463,562872,587400
1,TX,136411,141734,141588,138078,138348,132509,133666,140757,151808,163822,175013,186899,198108,207609,214479
2,NY,240184,243486,241204,227910,226321,219125,214900,218842,225308,229103,235528,246011,258673,270366,277899
3,FL,279318,269232,223001,175795,163062,145904,145116,161685,181107,193642,210815,228108,244794,255701,267493
4,IL,233868,236201,222447,194882,184832,166651,157260,161937,172527,178046,184279,193718,201720,206240,208455
5,PA,172153,177616,176946,169848,170462,161739,158504,160142,162972,165862,169680,176531,187023,194671,203047
6,OH,135799,134461,130065,123202,121001,114133,111331,113175,115672,120226,125297,132885,142090,150259,158967
7,MI,153501,146466,131375,110150,103706,95781,96761,107335,120445,127134,135092,146848,159320,169276,177413
8,GA,169907,174592,168091,149311,141081,125426,122357,131538,144797,153280,162615,172191,187678,200435,210452
9,NC,164289,172882,174436,166712,161825,153560,149673,151993,157033,161539,168302,178943,190805,202302,213412
10,NJ,410640,404394,377540,343712,334652,311516,294525,297926,312309,313914,316605,325487,340979,348578,357780
11,VA,288134,287339,266422,244291,242045,231978,230794,238798,246404,250210,254925,264852,274431,284556,295487
12,WA,305993,327520,310650,273724,264663,237158,227930,250569,268877,288580,319127,355097,394600,408971,440623
13,MA,401036,380142,356825,330503,336955,321464,313011,331933,350833,361042,378879,399264,424054,433274,450059
14,IN,120816,123020,122663,119125,118104,113725,113693,115192,119017,122936,127078,134858,144522,154086,163012
15,AZ,289314,273761,227013,178740,166065,143865,154450,182888,199390,208731,222279,237012,255594,269335,294068
16,TN,136619,142925,140990,134683,132578,127345,125814,128689,134120,139099,147002,157908,169853,180107,192227
17,MO,139383,141700,138532,132496,130663,121653,119596,122199,126171,130426,136619,144828,154022,162005,168843
18,MD,368046,372172,341794,295207,283359,265195,258231,271792,284732,286404,292254,303603,315833,322164,328954
19,WI,170757,172439,168086,158400,156212,143668,140234,143003,149617,153717,159961,171186,183443,193226,203565
20,MN,232589,228883,212091,191452,189614,171144,168183,183233,199738,205198,216477,232415,247891,259167,270807
21,CO,255745,256683,247706,240184,239836,229207,233585,252883,272582,301356,333725,363308,390613,407024,423726
22,AL,126891,132882,131912,126490,121892,115957,113671,115039,117262,119785,122892,126704,132735,139057,147548
23,SC,159579,166180,165459,156444,152798,143998,141643,143504,148708,154032,160841,169492,179634,188283,196982
24,LA,144353,150575,151296,150402,149870,144743,144979,146381,149713,153269,157153,161567,165539,166508,170751
25,KY,115465,117214,116733,115696,115056,111012,110696,111984,114673,118509,123751,130962,138698,145258,152152
26,OR,265809,284610,271804,242279,231142,209014,206020,227813,246187,264796,294980,322611,344337,356184,372311
27,OK,100562,103794,105318,104673,106547,102704,103324,105429,108407,112760,115585,119639,123432,127820,135279
28,CT,342771,338010,318588,292070,283718,266239,249416,256361,258993,257734,257520,264214,271910,275332,280600
29,IA,122263,125085,125326,123761,123897,120005,120558,124217,127927,131374,136509,142533,148044,153515,157665
30,MS,108659,114710,113134,109327,106670,103965,103040,102258,102839,107560,110118,113783,117764,122936,126755
31,AR,108936,111635,111600,107492,106539,102654,103943,106173,107852,110222,114250,118679,124530,129537,134568
32,KS,221454,229139,231322,229863,229949,221206,219876,223096,226500,235493,244375,256030,269909,281291,293525
33,UT,214443,251608,254793,228474,216968,198428,200459,223988,237775,248932,269095,294990,323647,348826,371954
34,NV,366619,346735,268582,188133,164045,147160,142734,177296,207115,223598,241000,258578,298574,315649,323144
35,NM,182558,197106,195146,184084,179555,167912,164561,166939,171442,172671,177316,183181,191085,201511,214247
36,WV,89899,92186,93311,90693,88832,87117,87419,88990,91121,93669,96141,97675,101680,104800,107163
37,NE,129229,130178,126795,124702,127851,121976,122577,128077,132457,138407,144173,154879,165277,174314,181995
38,ID,193898,202264,201378,177991,163429,144225,149610,169462,179095,187022,202007,220323,248856,278561,307070
39,HI,582318,587817,582324,522418,519179,519313,516175,542127,595680,619089,642293,686081,717223,723750,731513
40,ME,215992,215478,210101,194593,192051,186111,182744,186578,188830,192806,201883,214689,227844,237121,254743
41,NH,283520,273528,258053,237982,231126,224820,218514,226906,236365,246202,254549,270201,288405,300849,316892
42,RI,332115,313469,292025,253463,252449,238602,223914,232436,245430,247191,260354,278218,296845,304399,319831
43,MT,199237,211331,215440,211540,205744,198003,200350,209569,219971,230115,236605,248353,263341,277490,292277
44,DE,273705,280142,269948,248670,242951,225200,214430,211745,222841,229524,237391,243175,254572,260502,267035
45,SD,146620,150955,154830,154906,153770,152499,153607,159135,164462,171478,180198,190935,200116,210144,217686
46,AK,252226,267666,273227,273450,273115,269335,275102,282165,289918,303249,306655,308271,310712,328092,312569
47,ND,155559,162555,168210,169038,169101,172319,177785,196228,210304,226694,232144,234013,235418,237027,241578
48,VT,228370,239305,241026,235946,231154,231047,230287,230376,230028,232834,234764,240915,252201,261043,269446
49,DC,521261,520250,502861,465422,467132,454470,462630,527646,601212,597228,634032,662392,693096,738187,748004
50,WY,184250,199581,202383,198818,196118,193329,197052,203823,210869,218739,224299,224799,233757,244731,255055

In [8]:
years = ['State',
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]
finished_df = df2.set_axis([years], axis=1, inplace=False)
finished_df

,State,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,CA,535353,513987,416247,332653,338654,316461,311766,373983,423658,447789,480300,514383,555463,562872,587400
1,TX,136411,141734,141588,138078,138348,132509,133666,140757,151808,163822,175013,186899,198108,207609,214479
2,NY,240184,243486,241204,227910,226321,219125,214900,218842,225308,229103,235528,246011,258673,270366,277899
3,FL,279318,269232,223001,175795,163062,145904,145116,161685,181107,193642,210815,228108,244794,255701,267493
4,IL,233868,236201,222447,194882,184832,166651,157260,161937,172527,178046,184279,193718,201720,206240,208455
5,PA,172153,177616,176946,169848,170462,161739,158504,160142,162972,165862,169680,176531,187023,194671,203047
6,OH,135799,134461,130065,123202,121001,114133,111331,113175,115672,120226,125297,132885,142090,150259,158967
7,MI,153501,146466,131375,110150,103706,95781,96761,107335,120445,127134,135092,146848,159320,169276,177413
8,GA,169907,174592,168091,149311,141081,125426,122357,131538,144797,153280,162615,172191,187678,200435,210452
9,NC,164289,172882,174436,166712,161825,153560,149673,151993,157033,161539,168302,178943,190805,202302,213412
10,NJ,410640,404394,377540,343712,334652,311516,294525,297926,312309,313914,316605,325487,340979,348578,357780
11,VA,288134,287339,266422,244291,242045,231978,230794,238798,246404,250210,254925,264852,274431,284556,295487
12,WA,305993,327520,310650,273724,264663,237158,227930,250569,268877,288580,319127,355097,394600,408971,440623
13,MA,401036,380142,356825,330503,336955,321464,313011,331933,350833,361042,378879,399264,424054,433274,450059
14,IN,120816,123020,122663,119125,118104,113725,113693,115192,119017,122936,127078,134858,144522,154086,163012
15,AZ,289314,273761,227013,178740,166065,143865,154450,182888,199390,208731,222279,237012,255594,269335,294068
16,TN,136619,142925,140990,134683,132578,127345,125814,128689,134120,139099,147002,157908,169853,180107,192227
17,MO,139383,141700,138532,132496,130663,121653,119596,122199,126171,130426,136619,144828,154022,162005,168843
18,MD,368046,372172,341794,295207,283359,265195,258231,271792,284732,286404,292254,303603,315833,322164,328954
19,WI,170757,172439,168086,158400,156212,143668,140234,143003,149617,153717,159961,171186,183443,193226,203565
20,MN,232589,228883,212091,191452,189614,171144,168183,183233,199738,205198,216477,232415,247891,259167,270807
21,CO,255745,256683,247706,240184,239836,229207,233585,252883,272582,301356,333725,363308,390613,407024,423726
22,AL,126891,132882,131912,126490,121892,115957,113671,115039,117262,119785,122892,126704,132735,139057,147548
23,SC,159579,166180,165459,156444,152798,143998,141643,143504,148708,154032,160841,169492,179634,188283,196982
24,LA,144353,150575,151296,150402,149870,144743,144979,146381,149713,153269,157153,161567,165539,166508,170751
25,KY,115465,117214,116733,115696,115056,111012,110696,111984,114673,118509,123751,130962,138698,145258,152152
26,OR,265809,284610,271804,242279,231142,209014,206020,227813,246187,264796,294980,322611,344337,356184,372311
27,OK,100562,103794,105318,104673,106547,102704,103324,105429,108407,112760,115585,119639,123432,127820,135279
28,CT,342771,338010,318588,292070,283718,266239,249416,256361,258993,257734,257520,264214,271910,275332,280600
29,IA,122263,125085,125326,123761,123897,120005,120558,124217,127927,131374,136509,142533,148044,153515,157665
30,MS,108659,114710,113134,109327,106670,103965,103040,102258,102839,107560,110118,113783,117764,122936,126755
31,AR,108936,111635,111600,107492,106539,102654,103943,106173,107852,110222,114250,118679,124530,129537,134568
32,KS,221454,229139,231322,229863,229949,221206,219876,223096,226500,235493,244375,256030,269909,281291,293525
33,UT,214443,251608,254793,228474,216968,198428,200459,223988,237775,248932,269095,294990,323647,348826,371954
34,NV,366619,346735,268582,188133,164045,147160,142734,177296,207115,223598,241000,258578,298574,315649,323144
35,NM,182558,197106,195146,184084,179555,167912,164561,166939,171442,172671,177316,183181,191085,201511,214247
36,WV,89899,92186,93311,90693,88832,87117,87419,88990,91121,93669,96141,97675,101680,104800,107163
37,NE,129229,130178,126795,124702,127851,121976,122577,128077,132457,138407,144173,154879,165277,174314,181995
38,ID,193898,202264,201378,177991,163429,144225,149610,169462,179095,187022,202007,220323,248856,278561,307070
39,HI,582318,587817,582324,522418,519179,519313,516175,542127,595680,619089,642293,686081,717223,723750,731513
40,ME,215992,215478,210101,194593,192051,186111,182744,186578,188830,192806,201883,214689,227844,237121,254743
41,NH,283520,273528,258053,237982,231126,224820,218514,226906,236365,246202,254549,270201,288405,300849,316892
42,RI,332115,313469,292025,253463,252449,238602,223914,232436,245430,247191,260354,278218,296845,304399,319831
43,MT,199237,211331,215440,211540,205744,198003,200350,209569,219971,230115,236605,248353,263341,277490,292277
44,DE,273705,280142,269948,248670,242951,225200,214430,211745,222841,229524,237391,243175,254572,260502,267035
45,SD,146620,150955,154830,154906,153770,152499,153607,159135,164462,171478,180198,190935,200116,210144,217686
46,AK,252226,267666,273227,273450,273115,269335,275102,282165,289918,303249,306655,308271,310712,328092,312569
47,ND,155559,162555,168210,169038,169101,172319,177785,196228,210304,226694,232144,234013,235418,237027,241578
48,VT,228370,239305,241026,235946,231154,231047,230287,230376,230028,232834,234764,240915,252201,261043,269446
49,DC,521261,520250,502861,465422,467132,454470,462630,527646,601212,597228,634032,662392,693096,738187,748004
50,WY,184250,199581,202383,198818,196118,193329,197052,203823,210869,218739,224299,224799,233757,244731,255055

In [9]:
#read csv into pandas
homeless_pop = pd.read_csv("homelessness.csv")

homeless_pop

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically Homeless Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless People in Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Chronically Homeless Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Homeless,842
...,...,...,...,...,...,...
86524,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Unaccompanied Youth (Unde...,7
86525,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Veterans,31
86526,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth (Under 25),3
86527,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Age 18-24,3
86528,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Under 18,0

In [10]:
# #identify the data that is FL only
# fl_homeless_pop = homeless_pop.loc[homeless_pop["State"] == "FL"]
# fl_homeless_pop

#take commas out of the count column
homeless_pop["Count"] = homeless_pop["Count"].str.replace(",","")
homeless_pop["Count"] = pd.to_numeric(homeless_pop["Count"])

In [11]:
homeless_pop["Measures"] = homeless_pop["Measures"].str.replace(" ","_")
homeless_pop

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically_Homeless_Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless_Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless_People_in_Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered_Chronically_Homeless_Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered_Homeless,842
...,...,...,...,...,...,...
86524,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Homeless_Unaccompanied_Youth_(Unde...,7
86525,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Homeless_Veterans,31
86526,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Parenting_Youth_(Under_25),3
86527,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Parenting_Youth_Age_18-24,3
86528,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Parenting_Youth_Under_18,0

In [12]:
#pivot the table so the measures are the headers instead of rows
homeless_new = homeless_pop.pivot_table(index=["Year", "State", "CoC Number", "CoC Name"],values = ["Count"], columns=["Measures"], aggfunc=np.max)
homeless_new.head()

                                                                                                   Count  \
Measures                                                                     Children_of_Parenting_Youth
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                              NaN
               AK-501     Alaska Balance of State CoC                                                NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                         NaN
               AL-501     Mobile City & County/Baldwin County CoC                                    NaN
               AL-502     Florence/Northwest Alabama CoC                                             NaN

                                                                                                   \
Measures                                                                     Chronically_Homeless
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                       NaN
               AK-501     Alaska Balance of State CoC                                         NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                  NaN
               AL-501     Mobile City & County/Baldwin County CoC                             NaN
               AL-502     Florence/Northwest Alabama CoC                                      NaN

                                                                                                               \
Measures                                                                     Chronically_Homeless_Individuals
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                 224.0
               AK-501     Alaska Balance of State CoC                                                    54.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                            516.0
               AL-501     Mobile City & County/Baldwin County CoC                                        84.0
               AL-502     Florence/Northwest Alabama CoC                                                  8.0

                                                                                                                      \
Measures                                                                     Chronically_Homeless_People_in_Families
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                          NaN
               AK-501     Alaska Balance of State CoC                                                            NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                     NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                NaN
               AL-502     Florence/Northwest Alabama CoC                                                         NaN

                                                                                                   \
Measures                                                                     Homeless_Individuals
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                     696.0
               AK-501     Alaska Balance of State CoC                                       366.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...               1529.0
               AL-501     Mobile City & County/Baldwin County CoC                           499.0
               AL-502     Florence/Northwest Alabama CoC                                    143.0

                                                                                                          \
Measures                                                                     Homeless_People_in_Families
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                            278.0
               AK-501     Alaska Balance of State CoC                                              302.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                       575.0
               AL-501     Mobile City & County/Baldwin County CoC                                  150.0
               AL-502     Florence/Northwest Alabama CoC                                           122.0

                                                                                                                         \
Measures                                                                     Homeless_Unaccompanied_Children_(Under_18)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                             NaN
               AK-501     Alaska Balance of State CoC                                                               NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                        NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                   NaN
               AL-502     Florence/Northwest Alabama CoC                                                            NaN

                                                                                                                              \
Measures                                                                     Homeless_Unaccompanied_Young_Adults_(Age_18-24)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                  NaN
               AK-501     Alaska Balance of State CoC                                                                    NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                             NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                        NaN
               AL-502     Florence/Northwest Alabama CoC                                                                 NaN

                                                                                                                      \
Measures                                                                     Homeless_Unaccompanied_Youth_(Under_25)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                          NaN
               AK-501     Alaska Balance of State CoC                                                            NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                     NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                NaN
               AL-502     Florence/Northwest Alabama CoC                                                         NaN

                                                                                                \
Measures                                                                     Homeless_Veterans
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                    NaN
               AK-501     Alaska Balance of State CoC                                      NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...               NaN
               AL-501     Mobile City & County/Baldwin County CoC                          NaN
               AL-502     Florence/Northwest Alabama CoC                                   NaN

                                                                              ...  \
Measures                                                                      ...
Year     State CoC Number CoC Name                                            ...
1/1/2007 AK    AK-500     Anchorage CoC                                       ...
               AK-501     Alaska Balance of State CoC                         ...
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...  ...
               AL-501     Mobile City & County/Baldwin County CoC             ...
               AL-502     Florence/Northwest Alabama CoC                      ...

                                                                                                   \
Measures                                                                     Unsheltered_Homeless
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                     132.0
               AK-501     Alaska Balance of State CoC                                       123.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                864.0
               AL-501     Mobile City & County/Baldwin County CoC                           239.0
               AL-502     Florence/Northwest Alabama CoC                                    134.0

                                                                                                               \
Measures                                                                     Unsheltered_Homeless_Individuals
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                 107.0
               AK-501     Alaska Balance of State CoC                                                    64.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                            696.0
               AL-501     Mobile City & County/Baldwin County CoC                                       239.0
               AL-502     Florence/Northwest Alabama CoC                                                 50.0

                                                                                                                      \
Measures                                                                     Unsheltered_Homeless_People_in_Families
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                         25.0
               AK-501     Alaska Balance of State CoC                                                           59.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                   168.0
               AL-501     Mobile City & County/Baldwin County CoC                                                0.0
               AL-502     Florence/Northwest Alabama CoC                                                        84.0

                                                                                                                                     \
Measures                                                                     Unsheltered_Homeless_Unaccompanied_Children_(Under_18)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                     NaN
               AK-501     Alaska Balance of State CoC                                                                       NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                                NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                           NaN
               AL-502     Florence/Northwest Alabama CoC                                                                    NaN

                                                                                                                                          \
Measures                                                                     Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                     NaN
               AK-501     Alaska Balance of State CoC                                                                       NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                                NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                           NaN
               AL-502     Florence/Northwest Alabama CoC                                                                    NaN

                                                                                                                                  \
Measures                                                                     Unsheltered_Homeless_Unaccompanied_Youth_(Under_25)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                     NaN
               AK-501     Alaska Balance of State CoC                                                                       NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                                NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                           NaN
               AL-502     Florence/Northwest Alabama CoC                                                                    NaN

                                                                                                            \
Measures                                                                     Unsheltered_Homeless_Veterans
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                NaN
               AK-501     Alaska Balance of State CoC                                                  NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                           NaN
               AL-501     Mobile City & County/Baldwin County CoC                                      NaN
               AL-502     Florence/Northwest Alabama CoC                                               NaN

                                                                                                                     \
Measures                                                                     Unsheltered_Parenting_Youth_(Under_25)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                         NaN
               AK-501     Alaska Balance of State CoC                                                           NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                    NaN
               AL-501     Mobile City & County/Baldwin County CoC                                               NaN
               AL-502     Florence/Northwest Alabama CoC                                                        NaN

                                                                                                                    \
Measures                                                                     Unsheltered_Parenting_Youth_Age_18-24
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                        NaN
               AK-501     Alaska Balance of State CoC                                                          NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                   NaN
               AL-501     Mobile City & County/Baldwin County CoC                                              NaN
               AL-502     Florence/Northwest Alabama CoC                                                       NaN


Measures                                                                     Unsheltered_Parenting_Youth_Under_18
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                       NaN
               AK-501     Alaska Balance of State CoC                                                         NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                  NaN
               AL-501     Mobile City & County/Baldwin County CoC                                             NaN
               AL-502     Florence/Northwest Alabama CoC                                                      NaN

[5 rows x 42 columns]

In [13]:
#reset df.columns 
homeless_new.columns = homeless_new.columns.get_level_values(1)

In [14]:
homeless_new.columns[0]

'Children_of_Parenting_Youth'

In [15]:
homeless_new.columns

Index(['Children_of_Parenting_Youth', 'Chronically_Homeless',
       'Chronically_Homeless_Individuals',
       'Chronically_Homeless_People_in_Families', 'Homeless_Individuals',
       'Homeless_People_in_Families',
       'Homeless_Unaccompanied_Children_(Under_18)',
       'Homeless_Unaccompanied_Young_Adults_(Age_18-24)',
       'Homeless_Unaccompanied_Youth_(Under_25)', 'Homeless_Veterans',
       'Parenting_Youth_(Under_25)', 'Parenting_Youth_Age_18-24',
       'Parenting_Youth_Under_18', 'Sheltered_Children_of_Parenting_Youth',
       'Sheltered_Chronically_Homeless',
       'Sheltered_Chronically_Homeless_Individuals',
       'Sheltered_Chronically_Homeless_People_in_Families',
       'Sheltered_Homeless', 'Sheltered_Homeless_Individuals',
       'Sheltered_Homeless_People_in_Families',
       'Sheltered_Homeless_Unaccompanied_Children_(Under_18)',
       'Sheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24)',
       'Sheltered_Homeless_Unaccompanied_Youth_(Under_25)',
       'Sheltered_Homeless_Veterans', 'Sheltered_Parenting_Youth_(Under_25)',
       'Sheltered_Parenting_Youth_Age_18-24',
       'Sheltered_Parenting_Youth_Under_18', 'Total_Homeless',
       'Unsheltered_Children_of_Parenting_Youth',
       'Unsheltered_Chronically_Homeless',
       'Unsheltered_Chronically_Homeless_Individuals',
       'Unsheltered_Chronically_Homeless_People_in_Families',
       'Unsheltered_Homeless', 'Unsheltered_Homeless_Individuals',
       'Unsheltered_Homeless_People_in_Families',
       'Unsheltered_Homeless_Unaccompanied_Children_(Under_18)',
       'Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24)',
       'Unsheltered_Homeless_Unaccompanied_Youth_(Under_25)',
       'Unsheltered_Homeless_Veterans',
       'Unsheltered_Parenting_Youth_(Under_25)',
       'Unsheltered_Parenting_Youth_Age_18-24',
       'Unsheltered_Parenting_Youth_Under_18'],
      dtype='object', name='Measures')

In [16]:
homeless_new = homeless_new.reset_index()
homeless_new

Measures,Year,State,CoC Number,CoC Name,Children_of_Parenting_Youth,Chronically_Homeless,Chronically_Homeless_Individuals,Chronically_Homeless_People_in_Families,Homeless_Individuals,Homeless_People_in_Families,...,Unsheltered_Homeless,Unsheltered_Homeless_Individuals,Unsheltered_Homeless_People_in_Families,Unsheltered_Homeless_Unaccompanied_Children_(Under_18),Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24),Unsheltered_Homeless_Unaccompanied_Youth_(Under_25),Unsheltered_Homeless_Veterans,Unsheltered_Parenting_Youth_(Under_25),Unsheltered_Parenting_Youth_Age_18-24,Unsheltered_Parenting_Youth_Under_18
0,1/1/2007,AK,AK-500,Anchorage CoC,NaN,NaN,224.0,NaN,696.0,278.0,...,132.0,107.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2007,AK,AK-501,Alaska Balance of State CoC,NaN,NaN,54.0,NaN,366.0,302.0,...,123.0,64.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2007,AL,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",NaN,NaN,516.0,NaN,1529.0,575.0,...,864.0,696.0,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2007,AL,AL-501,Mobile City & County/Baldwin County CoC,NaN,NaN,84.0,NaN,499.0,150.0,...,239.0,239.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2007,AL,AL-502,Florence/Northwest Alabama CoC,NaN,NaN,8.0,NaN,143.0,122.0,...,134.0,50.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,1/1/2016,WV,WV-500,Wheeling/Weirton Area CoC,2.0,28.0,26.0,2.0,64.0,27.0,...,3.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3995,1/1/2016,WV,WV-501,"Huntington/Cabell, Wayne Counties CoC",14.0,13.0,13.0,0.0,136.0,92.0,...,16.0,16.0,0.0,0.0,1.0,1.0,3.0,0.0,0.0,0.0
3996,1/1/2016,WV,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",2.0,40.0,40.0,0.0,266.0,54.0,...,32.0,32.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
3997,1/1/2016,WV,WV-508,West Virginia Balance of State CoC,17.0,84.0,82.0,2.0,573.0,175.0,...,84.0,84.0,0.0,1.0,10.0,11.0,8.0,0.0,0.0,0.0
3998,1/1/2016,WY,WY-500,Wyoming Statewide CoC,17.0,91.0,80.0,11.0,517.0,340.0,...,366.0,240.0,126.0,2.0,5.0,7.0,31.0,3.0,3.0,0.0

In [17]:
homeless_new.columns
columns = [col for col in homeless_new.columns if col not in ['level_0', 'index']]
homeless_new = homeless_new[columns]

In [18]:
homeless_new = homeless_new.rename(columns = {
    'Year': 'year',
    'State': 'state',
    'CoC Number': 'CoC_number',
    'CoC Name': 'CoC_name'
})

homeless_new['year'] = pd.DatetimeIndex(homeless_new['year']).year

In [19]:
csv = pd.read_csv('median_income_data.csv')
csv.head()

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Table H-8. Median Household Income by State: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Households as of March of the following year....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CURRENT DOLLARS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,2018,NaN,2017 (40),NaN,2017,NaN,2016,NaN,2015,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
4,NaN,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,...,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror

In [20]:
flipped_csv = csv.T.reset_index(); 
flipped_csv.head()

,index,0,1,2,3,4,5,6,7,8,...,105,106,107,108,109,110,111,112,113,114
0,Table with row headers in column A and column ...,Table H-8. Median Household Income by State: ...,(Households as of March of the following year....,CURRENT DOLLARS,State,NaN,United States,Alabama,Alaska,Arizona,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,"Source: U.S. Bureau of the Census, Current Pop...",Footnotes are available at <www.census.gov/top...,NaN
1,Unnamed: 1,NaN,NaN,NaN,2018,Median\nincome,"63,179","49,936","68,734","62,283",...,"77,067","70,066","77,151","79,726","50,573","62,629","62,539",NaN,NaN,NaN
2,Unnamed: 2,NaN,NaN,NaN,NaN,Standard\nerror,420,"2,423","3,390","2,291",...,"2,327","2,350","3,086","3,025","1,337","2,039","3,892",NaN,NaN,NaN
3,Unnamed: 3,NaN,NaN,NaN,2017 (40),Median\nincome,"61,136","50,865","77,987","59,700",...,"71,490","65,234","72,537","73,284","48,102","65,029","60,987",NaN,NaN,NaN
4,Unnamed: 4,NaN,NaN,NaN,NaN,Standard\nerror,322,"1,094","3,718","2,689",...,"2,217","3,389","3,898","2,176","1,308","2,979","3,262",NaN,NaN,NaN

In [21]:
flipped_csv.columns = flipped_csv.iloc[0]
flipped_csv.head()

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",Table H-8. Median Household Income by State: 1984 to 2018,"(Households as of March of the following year. Income in current and 2018 CPI-U-RS adjusted dollars. (28) Beginning in 2010, standard errors were calculated using replicate weights)",CURRENT DOLLARS,State,NaN,United States,Alabama,Alaska,Arizona,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,"Source: U.S. Bureau of the Census, Current Population Survey, Annual Social and Economic Supplements. For information on confidentiality protection, sampling error, nonsampling error, and definitions, see <www2.census.gov/programs-surveys/cps/techdocs/cpsmar19.pdf>.",Footnotes are available at <www.census.gov/topics/income-poverty/income/guidance/cps-historic-footnotes.html>.,NaN
0,Table with row headers in column A and column ...,Table H-8. Median Household Income by State: ...,(Households as of March of the following year....,CURRENT DOLLARS,State,NaN,United States,Alabama,Alaska,Arizona,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,"Source: U.S. Bureau of the Census, Current Pop...",Footnotes are available at <www.census.gov/top...,NaN
1,Unnamed: 1,NaN,NaN,NaN,2018,Median\nincome,"63,179","49,936","68,734","62,283",...,"77,067","70,066","77,151","79,726","50,573","62,629","62,539",NaN,NaN,NaN
2,Unnamed: 2,NaN,NaN,NaN,NaN,Standard\nerror,420,"2,423","3,390","2,291",...,"2,327","2,350","3,086","3,025","1,337","2,039","3,892",NaN,NaN,NaN
3,Unnamed: 3,NaN,NaN,NaN,2017 (40),Median\nincome,"61,136","50,865","77,987","59,700",...,"71,490","65,234","72,537","73,284","48,102","65,029","60,987",NaN,NaN,NaN
4,Unnamed: 4,NaN,NaN,NaN,NaN,Standard\nerror,322,"1,094","3,718","2,689",...,"2,217","3,389","3,898","2,176","1,308","2,979","3,262",NaN,NaN,NaN

In [22]:
# It was literally faster and easier to type out 34 years worth of numerals than to fight with Pandas to convert and reconvert the array to usable data
years = [1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
# pd.DataFrame(years)

years.reverse()
years

[2020,
 2019,
 2018,
 2017,
 2016,
 2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000,
 1999,
 1998,
 1997,
 1996,
 1995,
 1994,
 1993,
 1992,
 1991,
 1990,
 1989,
 1988,
 1987,
 1986,
 1985,
 1984]

In [23]:
# Here we're going to narrow the data set down to states and national averages
getting_states_data = flipped_csv.dropna(axis=1)
getting_states_data

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Table with row headers in column A and column ...,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,Unnamed: 1,"63,179","49,936","68,734","62,283","49,781","70,489","73,034","72,812","65,012",...,"59,463","56,060","59,785","77,067","70,066","77,151","79,726","50,573","62,629","62,539"
2,Unnamed: 2,420,"2,423","3,390","2,291","2,108","1,233","3,562","5,119","3,599",...,"2,642","1,442","1,372","2,327","2,350","3,086","3,025","1,337","2,039","3,892"
3,Unnamed: 3,"61,136","50,865","77,987","59,700","49,751","70,038","74,984","74,304","64,961",...,"58,301","56,654","61,557","71,490","65,234","72,537","73,284","48,102","65,029","60,987"
4,Unnamed: 4,322,"1,094","3,718","2,689","2,491","1,576","2,661","3,453","5,230",...,"4,083","2,183","1,358","2,217","3,389","3,898","2,176","1,308","2,979","3,262"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Unnamed: 70,129,885,"1,017",718,765,570,926,"1,605","1,212",...,"1,456","1,939","1,127","1,777","2,200","2,356","2,084","1,985","1,761","1,893"
71,Unnamed: 71,"23,618","18,333","34,782","23,877","17,451","26,981","28,182","31,090","22,980",...,"40,488","39,676","52,988","56,325","58,025","63,446","53,562","35,670","51,879","49,279"
72,Unnamed: 72,128,760,"1,089",744,764,350,850,"1,129","1,366",...,"1,567","1,243","1,219","1,567","2,102","2,955","1,687","1,848","2,591","2,341"
73,Unnamed: 73,"22,415","17,310","32,356","21,425","15,674","25,287","25,801","29,951","25,819",...,"44,803","38,739","53,148","53,224","52,118","61,229","57,748","38,880","47,882","54,976"
74,Unnamed: 74,102,605,"1,473",609,748,364,805,"1,238","1,027",...,"2,142","1,330","1,230","1,697","2,269","2,018","1,900","1,403","1,895","1,687"

In [24]:
# I noticed we have duplicated states, lets get rid of those...
narrowed_data = df = getting_states_data.loc[:,~getting_states_data.columns.duplicated()]
narrowed_data

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Table with row headers in column A and column ...,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,Unnamed: 1,"63,179","49,936","68,734","62,283","49,781","70,489","73,034","72,812","65,012",...,"59,463","56,060","59,785","77,067","70,066","77,151","79,726","50,573","62,629","62,539"
2,Unnamed: 2,420,"2,423","3,390","2,291","2,108","1,233","3,562","5,119","3,599",...,"2,642","1,442","1,372","2,327","2,350","3,086","3,025","1,337","2,039","3,892"
3,Unnamed: 3,"61,136","50,865","77,987","59,700","49,751","70,038","74,984","74,304","64,961",...,"56,914","55,306","60,092","69,789","63,682","70,811","71,540","46,957","63,482","59,536"
4,Unnamed: 4,322,"1,094","3,718","2,689","2,491","1,576","2,661","3,453","5,230",...,"3,986","2,131","1,326","2,164","3,308","3,805","2,124","1,277","2,908","3,184"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Unnamed: 70,129,885,"1,017",718,765,570,926,"1,605","1,212",...,664,884,514,810,"1,003","1,074",950,905,803,863
71,Unnamed: 71,"23,618","18,333","34,782","23,877","17,451","26,981","28,182","31,090","22,980",...,"18,142","17,778","23,743","25,238","26,000","28,429","24,000","15,983","23,246","22,081"
72,Unnamed: 72,128,760,"1,089",744,764,350,850,"1,129","1,366",...,702,557,546,702,942,"1,324",756,828,"1,161","1,049"
73,Unnamed: 73,"22,415","17,310","32,356","21,425","15,674","25,287","25,801","29,951","25,819",...,"19,409","16,782","23,024","23,057","22,578","26,525","25,017","16,843","20,743","23,816"
74,Unnamed: 74,102,605,"1,473",609,748,364,805,"1,238","1,027",...,928,576,533,735,983,874,823,608,821,731

In [25]:
# Getting rid of the first column with the weird name
mean_state_data = narrowed_data.drop(columns = 'Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61')
mean_state_data

,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,D.C.,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,D.C.,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,"63,179","49,936","68,734","62,283","49,781","70,489","73,034","72,812","65,012","85,750",...,"59,463","56,060","59,785","77,067","70,066","77,151","79,726","50,573","62,629","62,539"
2,420,"2,423","3,390","2,291","2,108","1,233","3,562","5,119","3,599","2,659",...,"2,642","1,442","1,372","2,327","2,350","3,086","3,025","1,337","2,039","3,892"
3,"61,136","50,865","77,987","59,700","49,751","70,038","74,984","74,304","64,961","81,282",...,"56,914","55,306","60,092","69,789","63,682","70,811","71,540","46,957","63,482","59,536"
4,322,"1,094","3,718","2,689","2,491","1,576","2,661","3,453","5,230","1,903",...,"3,986","2,131","1,326","2,164","3,308","3,805","2,124","1,277","2,908","3,184"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,129,885,"1,017",718,765,570,926,"1,605","1,212","1,252",...,664,884,514,810,"1,003","1,074",950,905,803,863
71,"23,618","18,333","34,782","23,877","17,451","26,981","28,182","31,090","22,980","21,076",...,"18,142","17,778","23,743","25,238","26,000","28,429","24,000","15,983","23,246","22,081"
72,128,760,"1,089",744,764,350,850,"1,129","1,366",756,...,702,557,546,702,942,"1,324",756,828,"1,161","1,049"
73,"22,415","17,310","32,356","21,425","15,674","25,287","25,801","29,951","25,819","20,408",...,"19,409","16,782","23,024","23,057","22,578","26,525","25,017","16,843","20,743","23,816"
74,102,605,"1,473",609,748,364,805,"1,238","1,027",860,...,928,576,533,735,983,874,823,608,821,731

In [26]:
# We're going to flip the columns again and make the states the index
making_missy_elliot_proud = mean_state_data.T 
making_missy_elliot_proud.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,,,,,,,,,,,,,,,,,,,,,
United States,United States,"63,179",420,"61,136",322,"61,372",335,"59,039",436,"56,516",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
Alabama,Alabama,"49,936","2,423","50,865","1,094","51,113",845,"47,221","2,301","44,509",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
Alaska,Alaska,"68,734","3,390","77,987","3,718","72,231","2,719","75,723","4,086","75,112",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
Arizona,Arizona,"62,283","2,291","59,700","2,689","61,125","2,642","57,100","1,971","52,248",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609
Arkansas,Arkansas,"49,781","2,108","49,751","2,491","48,829","2,642","45,907","2,165","42,798",...,"20,172",706,"18,827","1,008","18,730",765,"17,451",764,"15,674",748

In [27]:
# Cool, now I need to drop the first column, then every other column, and then use "years" as the column headers
dropping_first_column = making_missy_elliot_proud.drop(axis=1, columns=0)
dropping_first_column

# Saving for now -- Will need to see how many columns need to go
dropping_first_column.to_csv('almost_done_all_states', index=True)

In [28]:
# We needed to drop it down to 37 columns because we have 37 years of data
narrowed_columns = dropping_first_column[dropping_first_column.columns[::2]]
narrowed_columns.head()

,1,3,5,7,9,11,13,15,17,19,...,55,57,59,61,63,65,67,69,71,73
0,,,,,,,,,,,,,,,,,,,,,
United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017","50,054",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464","42,590",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648","57,431",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044","48,621",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018","41,302",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"

In [29]:
# We're almost done here, I should be able to rename the columns using the "years" list we created and reversed earlier
df2 = narrowed_columns.set_axis([years], axis=1, inplace=False)
df2

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984
0,,,,,,,,,,,,,,,,,,,,,
United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017","50,054",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464","42,590",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648","57,431",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044","48,621",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018","41,302",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"
California,"70,489","70,038","69,759","66,637","63,636","60,487","60,794","57,528","57,020","53,367",...,"34,073","34,903","33,664","33,290","33,009","30,287","30,146","29,010","26,981","25,287"
Colorado,"73,034","74,984","74,172","70,566","66,596","60,940","67,912","63,371","57,255","58,629",...,"34,488","32,484","31,499","30,733","26,806","26,214","26,476","27,192","28,182","25,801"
Connecticut,"72,812","74,304","72,780","75,923","72,889","70,161","69,291","67,781","64,247","65,415",...,"39,516","40,841","42,154","38,870","42,321","36,213","32,862","32,721","31,090","29,951"
Delaware,"65,012","64,961","62,318","58,046","57,756","57,522","54,091","52,219","48,972","54,660",...,"36,064","35,678","32,585","30,804","32,068","30,505","29,244","25,626","22,980","25,819"
D.C.,"85,750","81,282","83,382","70,982","70,071","68,277","60,057","60,675","65,246","55,251",...,"27,304","30,247","29,885","27,392","26,752","26,741","27,455","24,322","21,076","20,408"
Florida,"54,644","53,086","53,681","51,176","48,825","46,140","48,532","47,886","46,071","45,105",...,"28,550","27,349","27,252","26,685","26,085","25,406","24,489","22,849","21,343","19,785"
Georgia,"55,821","57,985","57,016","53,527","50,768","49,555","46,992","47,439","48,121","45,973",...,"31,663","28,797","27,212","27,561","27,542","26,566","26,714","24,370","21,049","19,984"
Hawaii,"80,108","73,599","73,575","72,133","64,514","71,223","64,235","61,408","56,263","59,047",...,"42,662","42,113","37,246","38,921","35,035","33,024","35,022","29,003","28,961","28,877"
Idaho,"58,728","59,497","60,208","56,564","51,624","53,438","48,467","51,767","47,922","47,459",...,"31,010","27,704","26,116","25,305","24,654","23,450","20,755","20,749","20,761","21,092"
Illinois,"70,145","65,969","64,609","61,386","60,413","54,916","53,937","57,196","51,738","50,637",...,"32,857","31,551","31,884","32,542","31,300","29,524","27,084","26,511","24,870","23,752"
Indiana,"59,892","58,767","58,873","56,094","51,983","48,060","49,455","50,553","46,158","44,445",...,"29,475","28,530","27,089","26,928","25,898","26,293","22,519","22,728","22,675","22,770"
Iowa,"68,718","63,467","63,481","59,094","60,855","57,810","60,156","54,855","53,442","50,219",...,"28,663","28,743","28,553","27,288","26,265","24,305","22,190","22,459","20,927","19,863"
Kansas,"63,938","56,900","57,872","56,810","54,865","53,444","47,820","51,485","50,003","46,147",...,"29,770","30,346","29,295","29,917","26,862","25,566","25,583","23,926","22,788","24,629"
Kentucky,"54,555","49,672","51,348","45,369","42,387","42,786","44,879","42,158","41,086","39,856",...,"24,376","23,485","23,764","24,780","23,283","19,907","20,673","19,874","17,361","17,680"
Louisiana,"49,973","43,565","43,903","42,196","45,922","42,406","46,425","39,622","39,085","40,658",...,"26,312","25,439","25,299","22,405","22,861","20,497","21,349","20,890","21,179","18,949"
Maine,"58,663","53,316","51,664","50,856","50,756","51,710","54,957","50,121","49,158","49,693",...,"27,438","29,617","27,868","27,464","28,221","26,402","23,600","23,424","20,519","20,648"
Maryland,"86,223","82,093","81,084","73,760","73,594","76,165","69,353","65,262","71,836","68,876",...,"39,939","37,203","36,952","38,857","36,016","36,552","34,970","30,604","30,136","29,708"
Massachusetts,"86,345","76,243","73,227","72,266","67,861","63,151","62,529","62,963","63,656","63,313",...,"37,064","36,359","35,714","36,247","36,086","33,213","32,241","30,339","28,207","26,959"
Michigan,"60,449","56,405","57,700","57,091","54,203","52,005","56,567","48,801","50,015","48,879",...,"32,662","32,267","32,117","29,937","30,775","29,472","27,702","26,605","24,242","22,965"
Minnesota,"71,817","69,975","71,920","70,218","68,730","67,244","64,324","60,907","61,795","57,820",...,"33,682","30,981","29,479","31,465","30,185","29,087","28,082","26,443","23,856","24,436"
Mississippi,"42,781","43,281","43,441","41,099","40,037","35,521","32,338","40,850","36,641","41,090",...,"22,191","20,570","19,475","20,178","19,917","18,166","18,513","16,513","16,413","15,430"
Missouri,"61,726","56,530","56,885","55,016","59,196","56,630","46,303","50,311","49,764","45,774",...,"28,682","27,361","27,926","27,332","26,497","23,443","23,720","21,925","21,939","20,775"
Montana,"57,679","57,407","59,087","57,075","51,395","51,102","43,201","44,132","45,088","40,277",...,"26,470","26,525","24,827","23,375","23,692","22,231","20,474","20,328","20,236","19,536"
Nebraska,"67,575","59,583","59,619","59,374","60,474","56,870","57,623","53,774","52,196","55,616",...,"31,008","30,048","29,549","27,482","26,319","25,159","23,268","21,772","21,799","21,397"
Nevada,"61,864","58,041","56,550","55,431","52,008","49,875","51,846","45,369","47,333","47,043",...,"35,814","31,908","32,937","32,023","29,340","27,983","26,878","26,217","23,274","25,776"
New Hampshire,"81,346","75,630","74,801","76,260","75,675","73,397","69,099","71,322","67,819","65,880",...,"37,964","39,436","36,032","40,805","37,532","34,625","32,338","30,548","26,403","25,914"
New Jersey,"74,176","71,240","72,997","68,468","68,357","65,243","63,754","61,782","66,692","62,338",...,"40,500","39,000","40,049","38,734","39,120","36,287","34,241","31,715","30,980","27,776"
New Mexico,"48,283","45,601","47,855","48,451","45,119","46,686","40,166","42,127","43,424","41,982",...,"26,758","25,860","26,540","25,039","22,602","19,296","20,758","19,845","20,423","20,630"
New York,"67,274","61,543","62,447","61,437","58,005","54,310","49,966","53,843","47,680","50,636",...,"31,697","31,051","31,794","31,591","31,496","28,915","26,384","25,025","23,639","22,027"
North Carolina,"53,369","49,547","50,343","53,764","50,797","46,784","46,337","41,208","41,553","45,206",...,"28,820","27,771","26,853","26,329","26,406","24,415","22,760","21,861","21,451","20,569"
North Dakota,"66,505","60,167","59,886","60,184","57,415","60,730","59,152","52,888","55,766","56,361",...,"28,118","26,959","25,892","25,264","25,229","24,092","22,576","21,508","21,205","20,771"
Ohio,"61,633","60,688","59,768","53,985","53,301","49,644","50,748","46,398","44,375","44,648",...,"31,285","31,404","29,790","30,013","29,021","27,740","25,773","25,115","25,174","23,123"
Oklahoma,"54,434","51,882","55,006","50,943","47,077","47,199","46,162","43,777","48,407","48,455",...,"26,260","25,284","25,462","24,384","23,667","23,667","21,691","20,948","21,205","21,148"
Oregon,"69,165","62,498","64,610","59,135","60,834","58,875","48,999","56,307","51,775","51,526",...,"33,138","31,927","30,190","29,281","28,529","27,748","25,038","24,773","21,894","21,399"
Pennsylvania,"64,524","61,285","63,173","60,979","60,389","55,173","55,156","53,952","51,904","49,910",...,"30,995","29,882","30,367","29,005","28,690","26,742","25,424","23,807","22,877","20,346"
Rhode Island,"62,266","65,401","66,390","61,528","55,701","58,633","56,323","57,812","56,065","49,033",...,"33,509","30,432","30,836","31,968","30,124","29,842","28,292","26,540","24,625","21,612"
South Carolina,"57,444","54,537","54,971","54,336","46,360","44,929","43,563","43,749","44,401","40,084",...,"26,053","27,578","27,463","28,735","23,798","25,533","25,049","21,968","20,036","20,309"
South Dakota,"59,463","56,914","56,894","57,450","55,065","53,053","53,413","54,453","49,415","47,223",...,"27,737","26,259","24,639","24,571","24,108","22,294","21,151","19,898","18,142","19,409"
Tennessee,"56,060","55,306","55,240","51,344","47,330","43,716","43,361","42,499","42,995","42,279",...,"25,102","24,318","24,453","22,592","22,611","20,856","21,179","18,256","17,778","16,782"
Texas,"59,785","60,092","59,295","58,146","56,473","53,875","51,406","53,027","51,926","49,047",...,"28,727","27,953","27,733","28,228","25,886","24,963","24,721","24,162","23,743","23,024"
Utah,"77,067","69,789","71,319","67,481","66,258","63,383","61,047","62,967","58,341","55,493",...,"35,786","34,251","28,016","30,142","30,717","26,313","26,529","26,281","25,238","23,057"
Vermont,"70,066","63,682","63,805","60,837","59,494","60,708","65,513","54,842","55,582","51,862",...,"31,065","32,755","29,155","31,098","31,295","28,988","25,415","24,599","26,000","22,578"
Virginia,"77,151","70,811","71,293","66,451","61,486","66,155","65,907","67,620","64,632","62,616",...,"36,433","38,198","36,137","35,073","34,118","32,648","29,996","29,715","28,429","26,525"
Washington,"79,726","71,540","75,418","70,310","67,243","59,068","63,922","60,106","62,187","56,850",...,"35,655","33,900","33,970","32,112","31,961","32,327","27,319","26,881","24,000","25,017"
West Virginia,"50,573","46,957","45,392","44,354","42,824","39,552","43,069","40,241","43,553","41,821",...,"22,421","20,271","23,147","22,137","21,677","19,353","17,207","16,464","15,983","16,843"
Wisconsin,"62,629","63,482","63,451","59,817","55,425","58,080","51,726","55,258","53,079","52,058",...,"31,766","33,308","31,133","30,711","29,123","29,575","26,369","26,430","23,246","20,743"
Wyoming,"62,539","59,536","57,837","57,829","60,925","55,690","67,441","55,700","57,512","54,509",...,"29,442","30,209","29,050","29,460","29,521","26,419","27,590","23,559","22,081","23,816"

In [30]:
df2 = df2.reset_index()
df2

,0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984
0,United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
1,Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
2,Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
3,Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
4,Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"
5,California,"70,489","70,038","69,759","66,637","63,636","60,487","60,794","57,528","57,020",...,"34,073","34,903","33,664","33,290","33,009","30,287","30,146","29,010","26,981","25,287"
6,Colorado,"73,034","74,984","74,172","70,566","66,596","60,940","67,912","63,371","57,255",...,"34,488","32,484","31,499","30,733","26,806","26,214","26,476","27,192","28,182","25,801"
7,Connecticut,"72,812","74,304","72,780","75,923","72,889","70,161","69,291","67,781","64,247",...,"39,516","40,841","42,154","38,870","42,321","36,213","32,862","32,721","31,090","29,951"
8,Delaware,"65,012","64,961","62,318","58,046","57,756","57,522","54,091","52,219","48,972",...,"36,064","35,678","32,585","30,804","32,068","30,505","29,244","25,626","22,980","25,819"
9,D.C.,"85,750","81,282","83,382","70,982","70,071","68,277","60,057","60,675","65,246",...,"27,304","30,247","29,885","27,392","26,752","26,741","27,455","24,322","21,076","20,408"
10,Florida,"54,644","53,086","53,681","51,176","48,825","46,140","48,532","47,886","46,071",...,"28,550","27,349","27,252","26,685","26,085","25,406","24,489","22,849","21,343","19,785"
11,Georgia,"55,821","57,985","57,016","53,527","50,768","49,555","46,992","47,439","48,121",...,"31,663","28,797","27,212","27,561","27,542","26,566","26,714","24,370","21,049","19,984"
12,Hawaii,"80,108","73,599","73,575","72,133","64,514","71,223","64,235","61,408","56,263",...,"42,662","42,113","37,246","38,921","35,035","33,024","35,022","29,003","28,961","28,877"
13,Idaho,"58,728","59,497","60,208","56,564","51,624","53,438","48,467","51,767","47,922",...,"31,010","27,704","26,116","25,305","24,654","23,450","20,755","20,749","20,761","21,092"
14,Illinois,"70,145","65,969","64,609","61,386","60,413","54,916","53,937","57,196","51,738",...,"32,857","31,551","31,884","32,542","31,300","29,524","27,084","26,511","24,870","23,752"
15,Indiana,"59,892","58,767","58,873","56,094","51,983","48,060","49,455","50,553","46,158",...,"29,475","28,530","27,089","26,928","25,898","26,293","22,519","22,728","22,675","22,770"
16,Iowa,"68,718","63,467","63,481","59,094","60,855","57,810","60,156","54,855","53,442",...,"28,663","28,743","28,553","27,288","26,265","24,305","22,190","22,459","20,927","19,863"
17,Kansas,"63,938","56,900","57,872","56,810","54,865","53,444","47,820","51,485","50,003",...,"29,770","30,346","29,295","29,917","26,862","25,566","25,583","23,926","22,788","24,629"
18,Kentucky,"54,555","49,672","51,348","45,369","42,387","42,786","44,879","42,158","41,086",...,"24,376","23,485","23,764","24,780","23,283","19,907","20,673","19,874","17,361","17,680"
19,Louisiana,"49,973","43,565","43,903","42,196","45,922","42,406","46,425","39,622","39,085",...,"26,312","25,439","25,299","22,405","22,861","20,497","21,349","20,890","21,179","18,949"
20,Maine,"58,663","53,316","51,664","50,856","50,756","51,710","54,957","50,121","49,158",...,"27,438","29,617","27,868","27,464","28,221","26,402","23,600","23,424","20,519","20,648"
21,Maryland,"86,223","82,093","81,084","73,760","73,594","76,165","69,353","65,262","71,836",...,"39,939","37,203","36,952","38,857","36,016","36,552","34,970","30,604","30,136","29,708"
22,Massachusetts,"86,345","76,243","73,227","72,266","67,861","63,151","62,529","62,963","63,656",...,"37,064","36,359","35,714","36,247","36,086","33,213","32,241","30,339","28,207","26,959"
23,Michigan,"60,449","56,405","57,700","57,091","54,203","52,005","56,567","48,801","50,015",...,"32,662","32,267","32,117","29,937","30,775","29,472","27,702","26,605","24,242","22,965"
24,Minnesota,"71,817","69,975","71,920","70,218","68,730","67,244","64,324","60,907","61,795",...,"33,682","30,981","29,479","31,465","30,185","29,087","28,082","26,443","23,856","24,436"
25,Mississippi,"42,781","43,281","43,441","41,099","40,037","35,521","32,338","40,850","36,641",...,"22,191","20,570","19,475","20,178","19,917","18,166","18,513","16,513","16,413","15,430"
26,Missouri,"61,726","56,530","56,885","55,016","59,196","56,630","46,303","50,311","49,764",...,"28,682","27,361","27,926","27,332","26,497","23,443","23,720","21,925","21,939","20,775"
27,Montana,"57,679","57,407","59,087","57,075","51,395","51,102","43,201","44,132","45,088",...,"26,470","26,525","24,827","23,375","23,692","22,231","20,474","20,328","20,236","19,536"
28,Nebraska,"67,575","59,583","59,619","59,374","60,474","56,870","57,623","53,774","52,196",...,"31,008","30,048","29,549","27,482","26,319","25,159","23,268","21,772","21,799","21,397"
29,Nevada,"61,864","58,041","56,550","55,431","52,008","49,875","51,846","45,369","47,333",...,"35,814","31,908","32,937","32,023","29,340","27,983","26,878","26,217","23,274","25,776"
30,New Hampshire,"81,346","75,630","74,801","76,260","75,675","73,397","69,099","71,322","67,819",...,"37,964","39,436","36,032","40,805","37,532","34,625","32,338","30,548","26,403","25,914"
31,New Jersey,"74,176","71,240","72,997","68,468","68,357","65,243","63,754","61,782","66,692",...,"40,500","39,000","40,049","38,734","39,120","36,287","34,241","31,715","30,980","27,776"
32,New Mexico,"48,283","45,601","47,855","48,451","45,119","46,686","40,166","42,127","43,424",...,"26,758","25,860","26,540","25,039","22,602","19,296","20,758","19,845","20,423","20,630"
33,New York,"67,274","61,543","62,447","61,437","58,005","54,310","49,966","53,843","47,680",...,"31,697","31,051","31,794","31,591","31,496","28,915","26,384","25,025","23,639","22,027"
34,North Carolina,"53,369","49,547","50,343","53,764","50,797","46,784","46,337","41,208","41,553",...,"28,820","27,771","26,853","26,329","26,406","24,415","22,760","21,861","21,451","20,569"
35,North Dakota,"66,505","60,167","59,886","60,184","57,415","60,730","59,152","52,888","55,766",...,"28,118","26,959","25,892","25,264","25,229","24,092","22,576","21,508","21,205","20,771"
36,Ohio,"61,633","60,688","59,768","53,985","53,301","49,644","50,748","46,398","44,375",...,"31,285","31,404","29,790","30,013","29,021","27,740","25,773","25,115","25,174","23,123"
37,Oklahoma,"54,434","51,882","55,006","50,943","47,077","47,199","46,162","43,777","48,407",...,"26,260","25,284","25,462","24,384","23,667","23,667","21,691","20,948","21,205","21,148"
38,Oregon,"69,165","62,498","64,610","59,135","60,834","58,875","48,999","56,307","51,775",...,"33,138","31,927","30,190","29,281","28,529","27,748","25,038","24,773","21,894","21,399"
39,Pennsylvania,"64,524","61,285","63,173","60,979","60,389","55,173","55,156","53,952","51,904",...,"30,995","29,882","30,367","29,005","28,690","26,742","25,424","23,807","22,877","20,346"
40,Rhode Island,"62,266","65,401","66,390","61,528","55,701","58,633","56,323","57,812","56,065",...,"33,509","30,432","30,836","31,968","30,124","29,842","28,292","26,540","24,625","21,612"
41,South Carolina,"57,444","54,537","54,971","54,336","46,360","44,929","43,563","43,749","44,401",...,"26,053","27,578","27,463","28,735","23,798","25,533","25,049","21,968","20,036","20,309"
42,South Dakota,"59,463","56,914","56,894","57,450","55,065","53,053","53,413","54,453","49,415",...,"27,737","26,259","24,639","24,571","24,108","22,294","21,151","19,898","18,142","19,409"
43,Tennessee,"56,060","55,306","55,240","51,344","47,330","43,716","43,361","42,499","42,995",...,"25,102","24,318","24,453","22,592","22,611","20,856","21,179","18,256","17,778","16,782"
44,Texas,"59,785","60,092","59,295","58,146","56,473","53,875","51,406","53,027","51,926",...,"28,727","27,953","27,733","28,228","25,886","24,963","24,721","24,162","23,743","23,024"
45,Utah,"77,067","69,789","71,319","67,481","66,258","63,383","61,047","62,967","58,341",...,"35,786","34,251","28,016","30,142","30,717","26,313","26,529","26,281","25,238","23,057"
46,Vermont,"70,066","63,682","63,805","60,837","59,494","60,708","65,513","54,842","55,582",...,"31,065","32,755","29,155","31,098","31,295","28,988","25,415","24,599","26,000","22,578"
47,Virginia,"77,151","70,811","71,293","66,451","61,486","66,155","65,907","67,620","64,632",...,"36,433","38,198","36,137","35,073","34,118","32,648","29,996","29,715","28,429","26,525"
48,Washington,"79,726","71,540","75,418","70,310","67,243","59,068","63,922","60,106","62,187",...,"35,655","33,900","33,970","32,112","31,961","32,327","27,319","26,881","24,000","25,017"
49,West Virginia,"50,573","46,957","45,392","44,354","42,824","39,552","43,069","40,241","43,553",...,"22,421","20,271","23,147","22,137","21,677","19,353","17,207","16,464","15,983","16,843"
50,Wisconsin,"62,629","63,482","63,451","59,817","55,425","58,080","51,726","55,258","53,079",...,"31,766","33,308","31,133","30,711","29,123","29,575","26,369","26,430","23,246","20,743"
51,Wyoming,"62,539","59,536","57,837","57,829","60,925","55,690","67,441","55,700","57,512",...,"29,442","30,209","29,050","29,460","29,521","26,419","27,590","23,559","22,081","23,816"

In [31]:
hopefully_fixed = df2.rename({0: "State"}, axis=1)
hopefully_fixed

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984
0,United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
1,Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
2,Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
3,Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
4,Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"
5,California,"70,489","70,038","69,759","66,637","63,636","60,487","60,794","57,528","57,020",...,"34,073","34,903","33,664","33,290","33,009","30,287","30,146","29,010","26,981","25,287"
6,Colorado,"73,034","74,984","74,172","70,566","66,596","60,940","67,912","63,371","57,255",...,"34,488","32,484","31,499","30,733","26,806","26,214","26,476","27,192","28,182","25,801"
7,Connecticut,"72,812","74,304","72,780","75,923","72,889","70,161","69,291","67,781","64,247",...,"39,516","40,841","42,154","38,870","42,321","36,213","32,862","32,721","31,090","29,951"
8,Delaware,"65,012","64,961","62,318","58,046","57,756","57,522","54,091","52,219","48,972",...,"36,064","35,678","32,585","30,804","32,068","30,505","29,244","25,626","22,980","25,819"
9,D.C.,"85,750","81,282","83,382","70,982","70,071","68,277","60,057","60,675","65,246",...,"27,304","30,247","29,885","27,392","26,752","26,741","27,455","24,322","21,076","20,408"
10,Florida,"54,644","53,086","53,681","51,176","48,825","46,140","48,532","47,886","46,071",...,"28,550","27,349","27,252","26,685","26,085","25,406","24,489","22,849","21,343","19,785"
11,Georgia,"55,821","57,985","57,016","53,527","50,768","49,555","46,992","47,439","48,121",...,"31,663","28,797","27,212","27,561","27,542","26,566","26,714","24,370","21,049","19,984"
12,Hawaii,"80,108","73,599","73,575","72,133","64,514","71,223","64,235","61,408","56,263",...,"42,662","42,113","37,246","38,921","35,035","33,024","35,022","29,003","28,961","28,877"
13,Idaho,"58,728","59,497","60,208","56,564","51,624","53,438","48,467","51,767","47,922",...,"31,010","27,704","26,116","25,305","24,654","23,450","20,755","20,749","20,761","21,092"
14,Illinois,"70,145","65,969","64,609","61,386","60,413","54,916","53,937","57,196","51,738",...,"32,857","31,551","31,884","32,542","31,300","29,524","27,084","26,511","24,870","23,752"
15,Indiana,"59,892","58,767","58,873","56,094","51,983","48,060","49,455","50,553","46,158",...,"29,475","28,530","27,089","26,928","25,898","26,293","22,519","22,728","22,675","22,770"
16,Iowa,"68,718","63,467","63,481","59,094","60,855","57,810","60,156","54,855","53,442",...,"28,663","28,743","28,553","27,288","26,265","24,305","22,190","22,459","20,927","19,863"
17,Kansas,"63,938","56,900","57,872","56,810","54,865","53,444","47,820","51,485","50,003",...,"29,770","30,346","29,295","29,917","26,862","25,566","25,583","23,926","22,788","24,629"
18,Kentucky,"54,555","49,672","51,348","45,369","42,387","42,786","44,879","42,158","41,086",...,"24,376","23,485","23,764","24,780","23,283","19,907","20,673","19,874","17,361","17,680"
19,Louisiana,"49,973","43,565","43,903","42,196","45,922","42,406","46,425","39,622","39,085",...,"26,312","25,439","25,299","22,405","22,861","20,497","21,349","20,890","21,179","18,949"
20,Maine,"58,663","53,316","51,664","50,856","50,756","51,710","54,957","50,121","49,158",...,"27,438","29,617","27,868","27,464","28,221","26,402","23,600","23,424","20,519","20,648"
21,Maryland,"86,223","82,093","81,084","73,760","73,594","76,165","69,353","65,262","71,836",...,"39,939","37,203","36,952","38,857","36,016","36,552","34,970","30,604","30,136","29,708"
22,Massachusetts,"86,345","76,243","73,227","72,266","67,861","63,151","62,529","62,963","63,656",...,"37,064","36,359","35,714","36,247","36,086","33,213","32,241","30,339","28,207","26,959"
23,Michigan,"60,449","56,405","57,700","57,091","54,203","52,005","56,567","48,801","50,015",...,"32,662","32,267","32,117","29,937","30,775","29,472","27,702","26,605","24,242","22,965"
24,Minnesota,"71,817","69,975","71,920","70,218","68,730","67,244","64,324","60,907","61,795",...,"33,682","30,981","29,479","31,465","30,185","29,087","28,082","26,443","23,856","24,436"
25,Mississippi,"42,781","43,281","43,441","41,099","40,037","35,521","32,338","40,850","36,641",...,"22,191","20,570","19,475","20,178","19,917","18,166","18,513","16,513","16,413","15,430"
26,Missouri,"61,726","56,530","56,885","55,016","59,196","56,630","46,303","50,311","49,764",...,"28,682","27,361","27,926","27,332","26,497","23,443","23,720","21,925","21,939","20,775"
27,Montana,"57,679","57,407","59,087","57,075","51,395","51,102","43,201","44,132","45,088",...,"26,470","26,525","24,827","23,375","23,692","22,231","20,474","20,328","20,236","19,536"
28,Nebraska,"67,575","59,583","59,619","59,374","60,474","56,870","57,623","53,774","52,196",...,"31,008","30,048","29,549","27,482","26,319","25,159","23,268","21,772","21,799","21,397"
29,Nevada,"61,864","58,041","56,550","55,431","52,008","49,875","51,846","45,369","47,333",...,"35,814","31,908","32,937","32,023","29,340","27,983","26,878","26,217","23,274","25,776"
30,New Hampshire,"81,346","75,630","74,801","76,260","75,675","73,397","69,099","71,322","67,819",...,"37,964","39,436","36,032","40,805","37,532","34,625","32,338","30,548","26,403","25,914"
31,New Jersey,"74,176","71,240","72,997","68,468","68,357","65,243","63,754","61,782","66,692",...,"40,500","39,000","40,049","38,734","39,120","36,287","34,241","31,715","30,980","27,776"
32,New Mexico,"48,283","45,601","47,855","48,451","45,119","46,686","40,166","42,127","43,424",...,"26,758","25,860","26,540","25,039","22,602","19,296","20,758","19,845","20,423","20,630"
33,New York,"67,274","61,543","62,447","61,437","58,005","54,310","49,966","53,843","47,680",...,"31,697","31,051","31,794","31,591","31,496","28,915","26,384","25,025","23,639","22,027"
34,North Carolina,"53,369","49,547","50,343","53,764","50,797","46,784","46,337","41,208","41,553",...,"28,820","27,771","26,853","26,329","26,406","24,415","22,760","21,861","21,451","20,569"
35,North Dakota,"66,505","60,167","59,886","60,184","57,415","60,730","59,152","52,888","55,766",...,"28,118","26,959","25,892","25,264","25,229","24,092","22,576","21,508","21,205","20,771"
36,Ohio,"61,633","60,688","59,768","53,985","53,301","49,644","50,748","46,398","44,375",...,"31,285","31,404","29,790","30,013","29,021","27,740","25,773","25,115","25,174","23,123"
37,Oklahoma,"54,434","51,882","55,006","50,943","47,077","47,199","46,162","43,777","48,407",...,"26,260","25,284","25,462","24,384","23,667","23,667","21,691","20,948","21,205","21,148"
38,Oregon,"69,165","62,498","64,610","59,135","60,834","58,875","48,999","56,307","51,775",...,"33,138","31,927","30,190","29,281","28,529","27,748","25,038","24,773","21,894","21,399"
39,Pennsylvania,"64,524","61,285","63,173","60,979","60,389","55,173","55,156","53,952","51,904",...,"30,995","29,882","30,367","29,005","28,690","26,742","25,424","23,807","22,877","20,346"
40,Rhode Island,"62,266","65,401","66,390","61,528","55,701","58,633","56,323","57,812","56,065",...,"33,509","30,432","30,836","31,968","30,124","29,842","28,292","26,540","24,625","21,612"
41,South Carolina,"57,444","54,537","54,971","54,336","46,360","44,929","43,563","43,749","44,401",...,"26,053","27,578","27,463","28,735","23,798","25,533","25,049","21,968","20,036","20,309"
42,South Dakota,"59,463","56,914","56,894","57,450","55,065","53,053","53,413","54,453","49,415",...,"27,737","26,259","24,639","24,571","24,108","22,294","21,151","19,898","18,142","19,409"
43,Tennessee,"56,060","55,306","55,240","51,344","47,330","43,716","43,361","42,499","42,995",...,"25,102","24,318","24,453","22,592","22,611","20,856","21,179","18,256","17,778","16,782"
44,Texas,"59,785","60,092","59,295","58,146","56,473","53,875","51,406","53,027","51,926",...,"28,727","27,953","27,733","28,228","25,886","24,963","24,721","24,162","23,743","23,024"
45,Utah,"77,067","69,789","71,319","67,481","66,258","63,383","61,047","62,967","58,341",...,"35,786","34,251","28,016","30,142","30,717","26,313","26,529","26,281","25,238","23,057"
46,Vermont,"70,066","63,682","63,805","60,837","59,494","60,708","65,513","54,842","55,582",...,"31,065","32,755","29,155","31,098","31,295","28,988","25,415","24,599","26,000","22,578"
47,Virginia,"77,151","70,811","71,293","66,451","61,486","66,155","65,907","67,620","64,632",...,"36,433","38,198","36,137","35,073","34,118","32,648","29,996","29,715","28,429","26,525"
48,Washington,"79,726","71,540","75,418","70,310","67,243","59,068","63,922","60,106","62,187",...,"35,655","33,900","33,970","32,112","31,961","32,327","27,319","26,881","24,000","25,017"
49,West Virginia,"50,573","46,957","45,392","44,354","42,824","39,552","43,069","40,241","43,553",...,"22,421","20,271","23,147","22,137","21,677","19,353","17,207","16,464","15,983","16,843"
50,Wisconsin,"62,629","63,482","63,451","59,817","55,425","58,080","51,726","55,258","53,079",...,"31,766","33,308","31,133","30,711","29,123","29,575","26,369","26,430","23,246","20,743"
51,Wyoming,"62,539","59,536","57,837","57,829","60,925","55,690","67,441","55,700","57,512",...,"29,442","30,209","29,050","29,460","29,521","26,419","27,590","23,559","22,081","23,816"

In [32]:
#create the global df to hold info for all years' tables (columns need to be named the same as the data pulled)
us_rent = pd.DataFrame(columns = ['0 BR', '1 BR', '2 BR', '3 BR', '4 BR', 'Est. Population', 'year']) 
#create a list that has all of the years that I want to extract
years = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
header = {
"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
"X-Requested-With": "XMLHttpRequest"
}
for year in years:
    url = f'https://www.rentdata.org/states/{year}'
    #hit the url/API and store info in a temporary df
    r = requests.get(url, headers=header)
    #temporary data frame created from the html
    temp_dfs = pd.read_html(r.text)[0]
    #taking column named years and appending all info from years to it
    temp_dfs['year'] = year
    #temp df is appended to global df
    us_rent = pd.concat([us_rent, temp_dfs], ignore_index= True)
#iterate

In [33]:
us_rent

,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,year,State
0,$367,$410,$481,$624,$720,4447100,2006,Alabama (AL)
1,$637,$751,$941,"$1,238","$1,385",610666,2006,Alaska (AK)
2,$484,$544,$664,$931,"$1,067",5130632,2006,Arizona (AZ)
3,$365,$404,$483,$634,$711,2673400,2006,Arkansas (AR)
4,$620,$709,$876,"$1,234","$1,402",33871648,2006,California (CA)
...,...,...,...,...,...,...,...,...
815,$760,$829,$992,"$1,323","$1,571",0,2020,Virginia (VA)
816,$745,$845,"$1,069","$1,502","$1,742",0,2020,Washington (WA)
817,$560,$597,$726,$959,"$1,116",0,2020,West Virginia (WV)
818,$554,$624,$800,"$1,057","$1,180",0,2020,Wisconsin (WI)
819,$621,$679,$846,"$1,138","$1,423",0,2020,Wyoming (WY)

In [34]:
rental_data = us_rent.rename(columns={'0 BR':'0_BR','1 BR':'1_BR','2 BR':'2_BR','3 BR':'3_BR','4 BR':'4_BR','Est. Population':'est_pop','Year':'year', 'State':'state'})
rental_data

     0_BR  1_BR    2_BR    3_BR    4_BR   est_pop  year               state
0    $367  $410    $481    $624    $720   4447100  2006        Alabama (AL)
1    $637  $751    $941  $1,238  $1,385    610666  2006         Alaska (AK)
2    $484  $544    $664    $931  $1,067   5130632  2006        Arizona (AZ)
3    $365  $404    $483    $634    $711   2673400  2006       Arkansas (AR)
4    $620  $709    $876  $1,234  $1,402  33871648  2006     California (CA)
..    ...   ...     ...     ...     ...       ...   ...                 ...
815  $760  $829    $992  $1,323  $1,571         0  2020       Virginia (VA)
816  $745  $845  $1,069  $1,502  $1,742         0  2020     Washington (WA)
817  $560  $597    $726    $959  $1,116         0  2020  West Virginia (WV)
818  $554  $624    $800  $1,057  $1,180         0  2020      Wisconsin (WI)
819  $621  $679    $846  $1,138  $1,423         0  2020        Wyoming (WY)

[820 rows x 8 columns]

In [35]:
# remove $$$$$ and ,,,,,,,

rental_data_clean = rental_data

In [36]:
rental_data_clean['0_BR'] = rental_data_clean['0_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['1_BR'] = rental_data_clean['1_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['2_BR'] = rental_data_clean['2_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['3_BR'] = rental_data_clean['3_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['4_BR'] = rental_data_clean['4_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean

    0_BR 1_BR  2_BR  3_BR  4_BR   est_pop  year               state
0    367  410   481   624   720   4447100  2006        Alabama (AL)
1    637  751   941  1238  1385    610666  2006         Alaska (AK)
2    484  544   664   931  1067   5130632  2006        Arizona (AZ)
3    365  404   483   634   711   2673400  2006       Arkansas (AR)
4    620  709   876  1234  1402  33871648  2006     California (CA)
..   ...  ...   ...   ...   ...       ...   ...                 ...
815  760  829   992  1323  1571         0  2020       Virginia (VA)
816  745  845  1069  1502  1742         0  2020     Washington (WA)
817  560  597   726   959  1116         0  2020  West Virginia (WV)
818  554  624   800  1057  1180         0  2020      Wisconsin (WI)
819  621  679   846  1138  1423         0  2020        Wyoming (WY)

[820 rows x 8 columns]

In [37]:
#convert additional columns to integer
rental_data_clean['0_BR'] = rental_data_clean['0_BR'].astype(int)
rental_data_clean['1_BR'] = rental_data_clean['1_BR'].astype(int)
rental_data_clean['2_BR'] = rental_data_clean['2_BR'].astype(int)
rental_data_clean['3_BR'] = rental_data_clean['3_BR'].astype(int)
rental_data_clean['4_BR'] = rental_data_clean['4_BR'].astype(int)
rental_data_clean['year'] = rental_data_clean['year'].astype(int)
rental_data_clean['est_pop'] = rental_data_clean['est_pop'].astype(int)
rental_data_clean['state'] = rental_data_clean['state'].astype(str)

In [38]:
# return just the state name in the column state
rental_data_clean['state'] = rental_data_clean['state'].str.split('(').str[0]

In [39]:
# check to make sure that year is an integer
rental_data_clean

     0_BR  1_BR  2_BR  3_BR  4_BR   est_pop  year           state
0     367   410   481   624   720   4447100  2006        Alabama
1     637   751   941  1238  1385    610666  2006         Alaska
2     484   544   664   931  1067   5130632  2006        Arizona
3     365   404   483   634   711   2673400  2006       Arkansas
4     620   709   876  1234  1402  33871648  2006     California
..    ...   ...   ...   ...   ...       ...   ...             ...
815   760   829   992  1323  1571         0  2020       Virginia
816   745   845  1069  1502  1742         0  2020     Washington
817   560   597   726   959  1116         0  2020  West Virginia
818   554   624   800  1057  1180         0  2020      Wisconsin
819   621   679   846  1138  1423         0  2020        Wyoming

[820 rows x 8 columns]

In [40]:
# create empty column to hold average values
rental_data_clean['avg_rent'] = ""

In [41]:
# calculate average rent price
rental_data_clean['avg_rent'] = rental_data_clean.iloc[:, 0:5].mean(axis=1)
rental_data_clean

     0_BR  1_BR  2_BR  3_BR  4_BR   est_pop  year           state  avg_rent
0     367   410   481   624   720   4447100  2006        Alabama      520.4
1     637   751   941  1238  1385    610666  2006         Alaska      990.4
2     484   544   664   931  1067   5130632  2006        Arizona      738.0
3     365   404   483   634   711   2673400  2006       Arkansas      519.4
4     620   709   876  1234  1402  33871648  2006     California      968.2
..    ...   ...   ...   ...   ...       ...   ...             ...       ...
815   760   829   992  1323  1571         0  2020       Virginia     1095.0
816   745   845  1069  1502  1742         0  2020     Washington     1180.6
817   560   597   726   959  1116         0  2020  West Virginia      791.6
818   554   624   800  1057  1180         0  2020      Wisconsin      843.0
819   621   679   846  1138  1423         0  2020        Wyoming      941.4

[820 rows x 9 columns]

In [42]:
# create a dataframe of years because we need a primary key table (oops)
year = rental_data_clean.drop(columns =['0_BR','1_BR','2_BR','3_BR','4_BR','est_pop','state'])

year = year.drop_duplicates()

In [43]:
year

     year  avg_rent
0    2006     520.4
1    2006     990.4
2    2006     738.0
3    2006     519.4
4    2006     968.2
..    ...       ...
815  2020    1095.0
816  2020    1180.6
817  2020     791.6
818  2020     843.0
819  2020     941.4

[807 rows x 2 columns]

In [44]:
# Import csv file to create table with state names and abbreviations 
state_abbrev = pd.read_csv('state_abbrev.csv')

In [45]:
state_abbrev

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

In [46]:
engine = create_engine(f"sqlite:///housing_data.db")

In [47]:
year.to_sql(name = 'year', con = engine, if_exists='replace', index=False)

In [48]:
rental_data_clean.to_sql(name = 'rental_pricing', con = engine, if_exists='replace', index=False)

In [49]:
state_abbrev.to_sql(name = 'states', con = engine, if_exists='replace', index=False)

In [50]:
homeless_new.to_sql(name='homelessness', con=engine, if_exists='replace', index=False)

In [51]:
##can change "append" to "fail" or "replace" if cells need to 
hopefully_fixed.to_sql(name='avg_regional_incomes', con=engine, if_exists='replace', index=False)

In [52]:
finished_df.to_sql(name='avg_housing', con=engine, if_exists='replace', index=False)

In [53]:
engine.table_names()

['avg_housing',
 'avg_regional_incomes',
 'homelessness',
 'rental_pricing',
 'states',
 'year']

In [54]:
pd.read_sql('SELECT Total_Homeless FROM HOMELESSNESS', con=engin

      Total_Homeless
0              974.0
1              668.0
2             2104.0
3              649.0
4              265.0
...              ...
3994            91.0
3995           228.0
3996           320.0
3997           748.0
3998           857.0

[3999 rows x 1 columns]

In [55]:
pd.read_sql('SELECT * FROM rental_pricing WHERE year = 2016', con=engine)

,0_BR,1_BR,2_BR,3_BR,4_BR,est_pop,year,state,avg_rent
0,483,518,646,867,993,4779736,2016,Alabama,701.4
1,758,862,1081,1421,1663,710231,2016,Alaska,1157.0
2,485,488,653,952,1001,277595,2016,American Samoa,715.8
3,580,652,822,1138,1323,6392017,2016,Arizona,903.0
4,467,501,645,861,992,2915918,2016,Arkansas,693.2
5,799,919,1182,1657,1930,37253956,2016,California,1297.4
6,627,694,892,1228,1428,5029196,2016,Colorado,973.8
7,788,967,1224,1554,1780,3574097,2016,Connecticut,1262.6
8,739,861,1058,1425,1628,897934,2016,Delaware,1142.2
9,1307,1402,1623,2144,2726,601723,2016,District of Columbia,1840.4
10,617,689,848,1141,1337,18801310,2016,Florida,926.4
11,557,591,731,979,1165,9687653,2016,Georgia,804.6
12,657,708,948,1382,1655,159358,2016,Guam,1070.0
13,915,1070,1356,1901,2186,1360301,2016,Hawaii,1485.6
14,500,537,692,951,1170,1567582,2016,Idaho,770.0
15,484,561,722,944,1078,12830632,2016,Illinois,757.8
16,487,556,714,939,1068,6483802,2016,Indiana,752.8
17,455,511,659,876,967,3046355,2016,Iowa,693.6
18,487,537,697,923,1048,2853118,2016,Kansas,738.4
19,475,529,674,903,1021,4339367,2016,Kentucky,720.4
20,517,577,715,934,1094,4533372,2016,Louisiana,767.4
21,565,625,766,998,1116,1328014,2016,Maine,814.0
22,396,480,642,927,1116,215532,2016,Mariana Islands,712.2
23,827,949,1165,1521,1840,5773552,2016,Maryland,1260.4
24,829,974,1218,1528,1711,6547629,2016,Massachusetts,1252.0
25,492,553,713,953,1070,9883640,2016,Michigan,756.2
26,483,576,748,1001,1148,5303925,2016,Minnesota,791.2
27,477,546,676,888,985,2967297,2016,Mississippi,714.4
28,459,521,679,907,1034,5988927,2016,Missouri,720.0
29,494,561,694,931,1128,989415,2016,Montana,761.6
30,426,504,657,856,953,1826341,2016,Nebraska,679.2
31,507,620,804,1130,1343,2700551,2016,Nevada,880.8
32,683,784,992,1286,1468,1316470,2016,New Hampshire,1042.6
33,922,1088,1330,1718,1991,8791894,2016,New Jersey,1409.8
34,521,589,740,997,1185,2059179,2016,New Mexico,806.4
35,688,784,953,1227,1374,19378102,2016,New York,1005.2
36,555,588,730,977,1158,9535483,2016,North Carolina,801.6
37,537,560,704,961,1077,672591,2016,North Dakota,767.8
38,482,548,703,933,1037,11536504,2016,Ohio,740.6
39,475,537,687,914,1058,3751351,2016,Oklahoma,734.2
40,554,645,814,1153,1360,3831074,2016,Oregon,905.2
41,551,628,784,1007,1116,12702379,2016,Pennsylvania,817.2
42,364,388,468,633,756,3725789,2016,Puerto Rico,521.8
43,663,813,998,1266,1536,1052567,2016,Rhode Island,1055.2
44,510,574,712,940,1098,4625364,2016,South Carolina,766.8
45,452,527,673,909,993,814180,2016,South Dakota,710.8
46,473,534,673,893,1032,6346105,2016,Tennessee,721.0
47,541,594,751,1006,1198,25145561,2016,Texas,818.0
48,512,613,766,1061,1238,2763885,2016,Utah,838.0
49,723,786,987,1287,1487,625741,2016,Vermont,1054.0
50,779,888,1101,1366,1509,108612,2016,Virgin Islands,1128.6
51,714,765,921,1227,1480,8001024,2016,Virginia,1021.4
52,599,691,881,1234,1441,6724540,2016,Washington,969.2
53,469,516,639,840,962,1852994,2016,West Virginia,685.2
54,492,562,735,972,1080,5686986,2016,Wisconsin,768.2
55,537,617,774,1054,1220,563626,2016,Wyoming,840.4

In [59]:
test = pd.read_sql('SELECT * FROM homelessness WHERE year = 2016 GROUP BY state', con=engine)

,year,state,CoC_number,CoC_name,Children_of_Parenting_Youth,Chronically_Homeless,Chronically_Homeless_Individuals,Chronically_Homeless_People_in_Families,Homeless_Individuals,Homeless_People_in_Families,...,Unsheltered_Homeless,Unsheltered_Homeless_Individuals,Unsheltered_Homeless_People_in_Families,Unsheltered_Homeless_Unaccompanied_Children_(Under_18),Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24),Unsheltered_Homeless_Unaccompanied_Youth_(Under_25),Unsheltered_Homeless_Veterans,Unsheltered_Parenting_Youth_(Under_25),Unsheltered_Parenting_Youth_Age_18-24,Unsheltered_Parenting_Youth_Under_18
0,2016,AK,AK-500,Anchorage CoC,6.0,50.0,48.0,2.0,905.0,200.0,...,240.0,240.0,0.0,0.0,10.0,10.0,29.0,0.0,0.0,0.0
1,2016,AL,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",19.0,92.0,92.0,0.0,927.0,301.0,...,196.0,184.0,12.0,0.0,22.0,22.0,2.0,0.0,0.0,0.0
2,2016,AR,AR-500,Little Rock/Central Arkansas CoC,0.0,208.0,206.0,2.0,742.0,66.0,...,339.0,334.0,5.0,0.0,11.0,11.0,37.0,0.0,0.0,0.0
3,2016,AZ,AZ-500,Arizona Balance of State CoC,19.0,437.0,407.0,30.0,1734.0,506.0,...,1217.0,1076.0,141.0,1.0,33.0,34.0,193.0,0.0,0.0,0.0
4,2016,CA,CA-500,San Jose/Santa Clara City & County CoC,55.0,2146.0,2095.0,51.0,5585.0,939.0,...,4627.0,4564.0,63.0,41.0,739.0,780.0,446.0,6.0,6.0,0.0
5,2016,CO,CO-500,Colorado Balance of State CoC,59.0,703.0,571.0,132.0,2006.0,1514.0,...,1831.0,1086.0,745.0,4.0,125.0,129.0,158.0,19.0,18.0,1.0
6,2016,CT,CT-503,Bridgeport/Norwalk /Stamford/Fairfield County CoC,17.0,98.0,83.0,15.0,525.0,361.0,...,156.0,156.0,0.0,0.0,5.0,5.0,11.0,0.0,0.0,0.0
7,2016,DC,DC-500,District of Columbia CoC,688.0,1597.0,1501.0,96.0,3683.0,4667.0,...,318.0,318.0,0.0,0.0,33.0,33.0,28.0,0.0,0.0,0.0
8,2016,DE,DE-500,Delaware Statewide CoC,20.0,74.0,65.0,9.0,753.0,317.0,...,51.0,51.0,0.0,0.0,5.0,5.0,4.0,0.0,0.0,0.0
9,2016,FL,FL-500,"Sarasota/Bradenton/Manatee, Sarasota Counties CoC",13.0,311.0,294.0,17.0,1219.0,249.0,...,664.0,612.0,52.0,2.0,25.0,27.0,62.0,0.0,0.0,0.0
10,2016,GA,GA-500,Atlanta Continuum of Care,37.0,556.0,531.0,25.0,3610.0,453.0,...,838.0,779.0,59.0,0.0,18.0,18.0,3.0,1.0,1.0,0.0
11,2016,GU,GU-500,Guam CoC,11.0,55.0,15.0,40.0,227.0,858.0,...,973.0,209.0,764.0,0.0,3.0,3.0,15.0,9.0,9.0,0.0
12,2016,HI,HI-500,Hawaii Balance of State CoC,30.0,859.0,665.0,194.0,1793.0,1188.0,...,2135.0,1434.0,701.0,3.0,113.0,116.0,217.0,24.0,24.0,0.0
13,2016,IA,IA-500,"Sioux City/Dakota, Woodbury Counties CoC",44.0,17.0,13.0,4.0,163.0,185.0,...,9.0,9.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
14,2016,ID,ID-500,Boise/Ada County CoC,8.0,140.0,120.0,20.0,680.0,187.0,...,125.0,112.0,13.0,0.0,8.0,8.0,19.0,0.0,0.0,0.0
15,2016,IL,IL-500,McHenry County CoC,2.0,7.0,7.0,0.0,102.0,52.0,...,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2016,IN,IN-500,South Bend/Mishawaka/St. Joseph County CoC,16.0,54.0,49.0,5.0,295.0,173.0,...,11.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2016,KS,KS-502,Wichita/Sedgwick County CoC,13.0,39.0,29.0,10.0,378.0,193.0,...,79.0,75.0,4.0,0.0,11.0,11.0,15.0,1.0,1.0,0.0
18,2016,KY,KY-500,Kentucky Balance of State CoC,59.0,93.0,79.0,14.0,1240.0,817.0,...,573.0,418.0,155.0,0.0,39.0,39.0,34.0,3.0,3.0,0.0
19,2016,LA,LA-500,Lafayette/Acadiana CoC,20.0,62.0,62.0,0.0,299.0,164.0,...,113.0,113.0,0.0,0.0,5.0,5.0,11.0,0.0,0.0,0.0
20,2016,MA,MA-500,Boston CoC,37.0,919.0,605.0,314.0,2485.0,3755.0,...,167.0,167.0,0.0,0.0,11.0,11.0,5.0,0.0,0.0,0.0
21,2016,MD,MD-500,Cumberland/Allegany County CoC,0.0,12.0,12.0,0.0,76.0,48.0,...,40.0,37.0,3.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0
22,2016,ME,ME-500,Maine Balance of State CoC,32.0,87.0,72.0,15.0,774.0,708.0,...,67.0,53.0,14.0,2.0,11.0,13.0,14.0,2.0,2.0,0.0
23,2016,MI,MI-500,Michigan Balance of State CoC,33.0,43.0,43.0,0.0,815.0,651.0,...,222.0,189.0,33.0,4.0,34.0,38.0,18.0,1.0,1.0,0.0
24,2016,MN,MN-500,Minneapolis/Hennepin County CoC,172.0,390.0,360.0,30.0,1465.0,1591.0,...,170.0,170.0,0.0,1.0,19.0,20.0,11.0,0.0,0.0,0.0
25,2016,MO,MO-500,St. Louis County CoC,13.0,18.0,18.0,0.0,256.0,209.0,...,48.0,44.0,4.0,1.0,12.0,13.0,2.0,0.0,0.0,0.0
26,2016,MS,MS-500,"Jackson/Rankin, Madison Counties CoC",0.0,88.0,88.0,0.0,566.0,67.0,...,336.0,336.0,0.0,0.0,17.0,17.0,48.0,0.0,0.0,0.0
27,2016,MT,MT-500,Montana Statewide CoC,22.0,137.0,117.0,20.0,844.0,574.0,...,630.0,401.0,229.0,9.0,39.0,48.0,73.0,6.0,6.0,0.0
28,2016,NC,NC-500,Winston Salem/Forsyth County CoC,17.0,95.0,95.0,0.0,400.0,144.0,...,38.0,38.0,0.0,0.0,2.0,2.0,6.0,0.0,0.0,0.0
29,2016,ND,ND-500,North Dakota Statewide CoC,18.0,120.0,89.0,31.0,662.0,261.0,...,216.0,153.0,63.0,0.0,13.0,13.0,53.0,4.0,4.0,0.0
30,2016,NE,NE-500,Nebraska Balance of State CoC,26.0,7.0,7.0,0.0,284.0,267.0,...,12.0,12.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
31,2016,NH,NH-500,New Hampshire Balance of State CoC,36.0,213.0,164.0,49.0,443.0,227.0,...,76.0,72.0,4.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0
32,2016,NJ,NJ-500,Atlantic City & County CoC,7.0,53.0,51.0,2.0,440.0,36.0,...,116.0,116.0,0.0,0.0,1.0,1.0,5.0,0.0,0.0,0.0
33,2016,NM,NM-500,Albuquerque CoC,12.0,255.0,240.0,15.0,867.0,355.0,...,183.0,174.0,9.0,0.0,10.0,10.0,16.0,0.0,0.0,0.0
34,2016,NV,NV-500,Las Vegas/Clark County CoC,36.0,285.0,285.0,0.0,5851.0,357.0,...,3731.0,3720.0,11.0,264.0,1052.0,1316.0,402.0,5.0,5.0,0.0
35,2016,NY,NY-500,Rochester/Irondequoit/Greece/Monroe County CoC,50.0,184.0,181.0,3.0,541.0,319.0,...,69.0,64.0,5.0,1.0,8.0,9.0,6.0,0.0,0.0,0.0
36,2016,OH,OH-500,Cincinnati/Hamilton County CoC,18.0,24.0,24.0,0.0,844.0,272.0,...,60.0,60.0,0.0,0.0,6.0,6.0,2.0,0.0,0.0,0.0
37,2016,OK,OK-500,North Central Oklahoma CoC,8.0,12.0,12.0,0.0,73.0,56.0,...,51.0,43.0,8.0,0.0,5.0,5.0,6.0,0.0,0.0,0.0
38,2016,OR,OR-500,Eugene/Springfield/Lane County CoC,4.0,574.0,506.0,68.0,1227.0,224.0,...,934.0,839.0,95.0,6.0,61.0,67.0,110.0,1.0,1.0,0.0
39,2016,PA,PA-500,Philadelphia CoC,412.0,853.0,774.0,79.0,3430.0,2682.0,...,705.0,705.0,0.0,0.0,25.0,25.0,17.0,0.0,0.0,0.0
40,2016,PR,PR-502,Puerto Rico Balance of Commonwealth CoC,19.0,881.0,806.0,75.0,2046.0,297.0,...,1554.0,1487.0,67.0,1.0,59.0,60.0,72.0,0.0,0.0,0.0
41,2016,RI,RI-500,Rhode Island Statewide CoC,31.0,144.0,136.0,8.0,859.0,301.0,...,37.0,37.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
42,2016,SC,SC-500,Charleston/Low Country CoC,1.0,142.0,140.0,2.0,519.0,31.0,...,263.0,256.0,7.0,0.0,26.0,26.0,30.0,1.0,1.0,0.0
43,2016,SD,SD-500,South Dakota Statewide CoC,25.0,44.0,34.0,10.0,548.0,524.0,...,185.0,102.0,83.0,0.0,8.0,8.0,11.0,3.0,3.0,0.0
44,2016,TN,TN-500,Chattanooga/Southeast Tennessee CoC,21.0,91.0,81.0,10.0,361.0,166.0,...,77.0,75.0,2.0,0.0,5.0,5.0,10.0,0.0,0.0,0.0
45,2016,TX,TX-500,San Antonio/Bexar County CoC,11.0,521.0,493.0,28.0,2048.0,733.0,...,1137.0,1099.0,38.0,10.0,80.0,90.0,99.0,0.0,0.0,0.0
46,2016,UT,UT-500,Salt Lake City & County CoC,26.0,164.0,142.0,22.0,1260.0,631.0,...,57.0,57.0,0.0,0.0,1.0,1.0,7.0,0.0,0.0,0.0
47,2016,VA,VA-500,"Richmond/Henrico, Chesterfield, Hanover Counti...",10.0,94.0,87.0,7.0,624.0,138.0,...,70.0,70.0,0.0,0.0,4.0,4.0,13.0,0.0,0.0,0.0
48,2016,VI,VI-500,Virgin Islands CoC,0.0,26.0,26.0,0.0,308.0,33.0,...,252.0,252.0,0.0,0.0,8.0,8.0,30.0,0.0,0.0,0.0
49,2016,VT,VT-500,Vermont Balance of State CoC,44.0,59.0,59.0,0.0,450.0,335.0,...,94.0,77.0,17.0,0.0,6.0,6.0,6.0,3.0,3.0,0.0
50,2016,WA,WA-500,Seattle/King County CoC,231.0,814.0,785.0,29.0,7748.0,2982.0,...,4505.0,4449.0,56.0,1.0,334.0,335.0,120.0,0.0,0.0,0.0
51,2016,WI,WI-500,Wisconsin Balance of State CoC,178.0,187.0,129.0,58.0,1547.0,1898.0,...,132.0,119.0,13.0,0.0,23.0,23.0,8.0,0.0,0.0,0.0
52,2016,WV,WV-500,Wheeling/Weirton Area CoC,2.0,28.0,26.0,2.0,64.0,27.0,...,3.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
53,2016,WY,WY-500,Wyoming Statewide CoC,17.0,91.0,80.0,11.0,517.0,340.0,...,366.0,240.0,126.0,2.0,5.0,7.0,31.0,3.0,3.0,0.0

In [64]:
## need to select the 2016 column from the avg_regional_incomes
pd.read_sql('SELECT * FROM avg_regional_incomes WHERE year = 2016', con=engine)

OperationalError: (sqlite3.OperationalError) no such column: year
[SQL: SELECT * FROM avg_regional_incomes WHERE year = 2016]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [66]:
## need to select the 2016 column from the avg_housing
pd.read_sql('SELECT * FROM avg_housing', con=engine)

,"('State',)","(2006,)","(2007,)","(2008,)","(2009,)","(2010,)","(2011,)","(2012,)","(2013,)","(2014,)","(2015,)","(2016,)","(2017,)","(2018,)","(2019,)","(2020,)"
0,CA,535353,513987,416247,332653,338654,316461,311766,373983,423658,447789,480300,514383,555463,562872,587400
1,TX,136411,141734,141588,138078,138348,132509,133666,140757,151808,163822,175013,186899,198108,207609,214479
2,NY,240184,243486,241204,227910,226321,219125,214900,218842,225308,229103,235528,246011,258673,270366,277899
3,FL,279318,269232,223001,175795,163062,145904,145116,161685,181107,193642,210815,228108,244794,255701,267493
4,IL,233868,236201,222447,194882,184832,166651,157260,161937,172527,178046,184279,193718,201720,206240,208455
5,PA,172153,177616,176946,169848,170462,161739,158504,160142,162972,165862,169680,176531,187023,194671,203047
6,OH,135799,134461,130065,123202,121001,114133,111331,113175,115672,120226,125297,132885,142090,150259,158967
7,MI,153501,146466,131375,110150,103706,95781,96761,107335,120445,127134,135092,146848,159320,169276,177413
8,GA,169907,174592,168091,149311,141081,125426,122357,131538,144797,153280,162615,172191,187678,200435,210452
9,NC,164289,172882,174436,166712,161825,153560,149673,151993,157033,161539,168302,178943,190805,202302,213412
10,NJ,410640,404394,377540,343712,334652,311516,294525,297926,312309,313914,316605,325487,340979,348578,357780
11,VA,288134,287339,266422,244291,242045,231978,230794,238798,246404,250210,254925,264852,274431,284556,295487
12,WA,305993,327520,310650,273724,264663,237158,227930,250569,268877,288580,319127,355097,394600,408971,440623
13,MA,401036,380142,356825,330503,336955,321464,313011,331933,350833,361042,378879,399264,424054,433274,450059
14,IN,120816,123020,122663,119125,118104,113725,113693,115192,119017,122936,127078,134858,144522,154086,163012
15,AZ,289314,273761,227013,178740,166065,143865,154450,182888,199390,208731,222279,237012,255594,269335,294068
16,TN,136619,142925,140990,134683,132578,127345,125814,128689,134120,139099,147002,157908,169853,180107,192227
17,MO,139383,141700,138532,132496,130663,121653,119596,122199,126171,130426,136619,144828,154022,162005,168843
18,MD,368046,372172,341794,295207,283359,265195,258231,271792,284732,286404,292254,303603,315833,322164,328954
19,WI,170757,172439,168086,158400,156212,143668,140234,143003,149617,153717,159961,171186,183443,193226,203565
20,MN,232589,228883,212091,191452,189614,171144,168183,183233,199738,205198,216477,232415,247891,259167,270807
21,CO,255745,256683,247706,240184,239836,229207,233585,252883,272582,301356,333725,363308,390613,407024,423726
22,AL,126891,132882,131912,126490,121892,115957,113671,115039,117262,119785,122892,126704,132735,139057,147548
23,SC,159579,166180,165459,156444,152798,143998,141643,143504,148708,154032,160841,169492,179634,188283,196982
24,LA,144353,150575,151296,150402,149870,144743,144979,146381,149713,153269,157153,161567,165539,166508,170751
25,KY,115465,117214,116733,115696,115056,111012,110696,111984,114673,118509,123751,130962,138698,145258,152152
26,OR,265809,284610,271804,242279,231142,209014,206020,227813,246187,264796,294980,322611,344337,356184,372311
27,OK,100562,103794,105318,104673,106547,102704,103324,105429,108407,112760,115585,119639,123432,127820,135279
28,CT,342771,338010,318588,292070,283718,266239,249416,256361,258993,257734,257520,264214,271910,275332,280600
29,IA,122263,125085,125326,123761,123897,120005,120558,124217,127927,131374,136509,142533,148044,153515,157665
30,MS,108659,114710,113134,109327,106670,103965,103040,102258,102839,107560,110118,113783,117764,122936,126755
31,AR,108936,111635,111600,107492,106539,102654,103943,106173,107852,110222,114250,118679,124530,129537,134568
32,KS,221454,229139,231322,229863,229949,221206,219876,223096,226500,235493,244375,256030,269909,281291,293525
33,UT,214443,251608,254793,228474,216968,198428,200459,223988,237775,248932,269095,294990,323647,348826,371954
34,NV,366619,346735,268582,188133,164045,147160,142734,177296,207115,223598,241000,258578,298574,315649,323144
35,NM,182558,197106,195146,184084,179555,167912,164561,166939,171442,172671,177316,183181,191085,201511,214247
36,WV,89899,92186,93311,90693,88832,87117,87419,88990,91121,93669,96141,97675,101680,104800,107163
37,NE,129229,130178,126795,124702,127851,121976,122577,128077,132457,138407,144173,154879,165277,174314,181995
38,ID,193898,202264,201378,177991,163429,144225,149610,169462,179095,187022,202007,220323,248856,278561,307070
39,HI,582318,587817,582324,522418,519179,519313,516175,542127,595680,619089,642293,686081,717223,723750,731513
40,ME,215992,215478,210101,194593,192051,186111,182744,186578,188830,192806,201883,214689,227844,237121,254743
41,NH,283520,273528,258053,237982,231126,224820,218514,226906,236365,246202,254549,270201,288405,300849,316892
42,RI,332115,313469,292025,253463,252449,238602,223914,232436,245430,247191,260354,278218,296845,304399,319831
43,MT,199237,211331,215440,211540,205744,198003,200350,209569,219971,230115,236605,248353,263341,277490,292277
44,DE,273705,280142,269948,248670,242951,225200,214430,211745,222841,229524,237391,243175,254572,260502,267035
45,SD,146620,150955,154830,154906,153770,152499,153607,159135,164462,171478,180198,190935,200116,210144,217686
46,AK,252226,267666,273227,273450,273115,269335,275102,282165,289918,303249,306655,308271,310712,328092,312569
47,ND,155559,162555,168210,169038,169101,172319,177785,196228,210304,226694,232144,234013,235418,237027,241578
48,VT,228370,239305,241026,235946,231154,231047,230287,230376,230028,232834,234764,240915,252201,261043,269446
49,DC,521261,520250,502861,465422,467132,454470,462630,527646,601212,597228,634032,662392,693096,738187,748004
50,WY,184250,199581,202383,198818,196118,193329,197052,203823,210869,218739,224299,224799,233757,244731,255055

In [ ]:
## Tables filtered on year = 2016 need to be joined by state: