In [28]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [4]:
csv = pd.read_csv('single_family_homes.csv')
csv

,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,...,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020
0,0,California,State,CA,163448.0,163222.0,163083.0,162811.0,162636.0,162502.0,...,568077,570568,573417,577008,580685,583797,585683,587400,591081,596946
1,1,Texas,State,TX,98109.0,98134.0,98166.0,98293.0,98435.0,98552.0,...,210141,210520,210999,211492,212191,212962,213722,214479,215340,216353
2,2,New York,State,NY,121051.0,120775.0,120612.0,120363.0,120263.0,120196.0,...,272042,272757,273458,274247,275032,275972,276852,277899,279281,281025
3,3,Florida,State,FL,103811.0,103917.0,104039.0,104269.0,104489.0,104732.0,...,259043,259794,260778,262048,263474,264866,266197,267493,268802,270602
4,4,Illinois,State,IL,140964.0,140708.0,140385.0,140002.0,139477.0,139164.0,...,206250,206398,206664,206943,207355,207707,208053,208455,209183,210192
5,5,Pennsylvania,State,PA,97246.0,97184.0,97122.0,97022.0,96929.0,96888.0,...,197530,198195,198834,199542,200340,201268,202066,203047,204229,205792
6,6,Ohio,State,OH,93282.0,93397.0,93547.0,93860.0,94185.0,94482.0,...,153332,153946,154662,155425,156216,157085,157988,158967,159987,161293
7,7,Michigan,State,MI,89468.0,89790.0,90097.0,90755.0,91405.0,92069.0,...,172213,172858,173580,174293,175230,176198,176885,177413,178226,179660
8,8,Georgia,State,GA,103566.0,103724.0,103885.0,104234.0,104583.0,104953.0,...,203961,204655,205463,206457,207420,208399,209347,210452,211615,212859
9,9,North Carolina,State,NC,110698.0,110914.0,111107.0,111508.0,111901.0,112348.0,...,206247,207082,207870,208835,209901,211044,212221,213412,214727,216183
10,10,New Jersey,State,NJ,168615.0,168294.0,168061.0,167621.0,167280.0,166973.0,...,349436,350197,351132,352304,353516,354934,356202,357780,359715,362917
11,11,Virginia,State,VA,121704.0,121652.0,121660.0,121641.0,121597.0,121541.0,...,288790,289456,290103,290939,291813,292885,294136,295487,296951,298481
12,12,Washington,State,WA,142023.0,142031.0,142059.0,142129.0,142265.0,142610.0,...,418249,421069,424093,427365,431027,434776,437617,440623,444315,449642
13,13,Massachusetts,State,MA,160737.0,160738.0,160864.0,161083.0,161322.0,161571.0,...,436200,437419,439170,441180,443691,445929,448172,450059,453114,457367
14,14,Indiana,State,IN,109895.0,109875.0,109431.0,109055.0,108852.0,109021.0,...,157687,158299,158905,159699,160495,161368,162144,163012,163895,164847
15,15,Arizona,State,AZ,111139.0,111456.0,111820.0,112481.0,113101.0,113661.0,...,277057,279253,281336,283391,285730,288824,291574,294068,296606,299853
16,16,Tennessee,State,TN,89299.0,89474.0,89688.0,90105.0,90543.0,90991.0,...,184308,185296,186299,187391,188578,189812,190999,192227,193538,194904
17,17,Missouri,State,MO,82656.0,82861.0,83022.0,83342.0,83601.0,83838.0,...,164047,164548,165068,165682,166395,167187,167932,168843,169954,171387
18,18,Maryland,State,MD,155046.0,155046.0,155049.0,155106.0,155252.0,155371.0,...,322836,323149,323646,324332,325398,326489,327699,328954,330898,333305
19,19,Wisconsin,State,WI,97248.0,97388.0,97492.0,97791.0,98144.0,98638.0,...,196984,197883,198757,199631,200444,201324,202342,203565,204892,206454
20,20,Minnesota,State,MN,105384.0,105208.0,105134.0,105056.0,105132.0,105362.0,...,263647,264544,265395,266360,267499,268689,269792,270807,272020,273596
21,21,Colorado,State,CO,143144.0,143615.0,144002.0,144786.0,145473.0,146155.0,...,411323,412522,414281,415932,417795,419633,421780,423726,425944,428573
22,22,Alabama,State,AL,83797.0,83900.0,83984.0,84102.0,84168.0,84270.0,...,141919,142652,143393,144159,144982,145852,146743,147548,148374,149376
23,23,South Carolina,State,SC,97640.0,97749.0,97788.0,97990.0,98140.0,98396.0,...,191357,192000,192595,193264,194060,194907,195955,196982,198085,199238
24,24,Louisiana,State,LA,83051.0,83366.0,83602.0,84097.0,84385.0,84648.0,...,167629,168129,168635,169051,169457,169970,170369,170751,171220,171897
25,25,Kentucky,State,KY,75816.0,75973.0,76103.0,76398.0,76656.0,76919.0,...,148205,148844,149420,149915,150471,151072,151618,152152,152729,153568
26,26,Oregon,State,OR,128520.0,128992.0,129404.0,130233.0,131040.0,131857.0,...,360751,361928,363126,364558,366469,368487,370583,372311,374482,377165
27,27,Oklahoma,State,OK,64193.0,64290.0,64444.0,64700.0,64968.0,65168.0,...,130512,131062,131774,132390,133110,133836,134590,135279,135953,136733
28,28,Connecticut,State,CT,159117.0,158914.0,159160.0,159329.0,159454.0,159515.0,...,274577,274793,275644,276373,277326,278160,279203,280600,282674,285380
29,29,Iowa,State,IA,80188.0,80355.0,80508.0,80811.0,81041.0,81247.0,...,155548,155895,156235,156471,156748,156995,157341,157665,158058,158328
30,30,Mississippi,State,MS,72397.0,72396.0,72469.0,72560.0,72708.0,72838.0,...,124602,124993,125385,125701,125992,126179,126472,126755,127152,127493
31,31,Arkansas,State,AR,69875.0,69908.0,69986.0,70097.0,70226.0,70342.0,...,131599,131914,132238,132654,133145,133638,134085,134568,135103,135710
32,32,Kansas,State,KS,143388.0,143664.0,143956.0,144449.0,144777.0,145095.0,...,285726,286482,287293,288409,289622,290944,292269,293525,294890,296503
33,33,Utah,State,UT,161409.0,161541.0,161817.0,162297.0,162939.0,163452.0,...,355682,357038,358985,360936,363308,365865,368941,371954,375288,379018
34,34,Nevada,State,NV,162557.0,162516.0,162664.0,162808.0,163083.0,163248.0,...,314459,315237,316367,317338,319437,321239,322502,323144,324849,327941
35,35,New Mexico,State,NM,NaN,NaN,NaN,NaN,NaN,NaN,...,206053,206857,207864,209027,210318,211682,213041,214247,215704,217263
36,36,West Virginia,State,WV,60664.0,60670.0,60673.0,60684.0,60689.0,60700.0,...,106073,106170,106251,106388,106525,106687,106935,107163,107385,107569
37,37,Nebraska,State,NE,84023.0,84348.0,84566.0,85036.0,85368.0,85754.0,...,177672,178178,178769,179496,180293,180946,181452,181995,182660,183491
38,38,Idaho,State,ID,124166.0,123977.0,123901.0,123717.0,123588.0,123425.0,...,288945,291189,293454,296245,298803,301661,304214,307070,309806,313064
39,39,Hawaii,State,HI,264423.0,263329.0,262358.0,260331.0,258001.0,255391.0,...,724543,724695,724979,725260,725525,727041,729324,731513,732197,733084
40,40,Maine,State,ME,99312.0,98960.0,98744.0,98252.0,97886.0,97515.0,...,242946,244462,246283,248019,249975,251805,253462,254743,256180,258347
41,41,New Hampshire,State,NH,111454.0,111187.0,111006.0,110733.0,110785.0,111025.0,...,305005,306316,307737,309597,311801,314007,315505,316892,318841,321889
42,42,Rhode Island,State,RI,128951.0,129058.0,129060.0,129080.0,128920.0,128652.0,...,308402,309682,311048,312691,314241,316113,317953,319831,321476,324159
43,43,Montana,State,MT,NaN,NaN,NaN,NaN,NaN,NaN,...,283199,284534,285948,287192,288438,289616,291088,292277,293880,295408
44,44,Delaware,State,DE,133311.0,133253.0,133195.0,133054.0,133178.0,133454.0,...,260325,260455,260722,261344,261835,262957,264777,267035,269329,271520
45,45,South Dakota,State,SD,87045.0,87450.0,87411.0,87470.0,87257.0,87279.0,...,212874,213563,214299,215173,215977,216802,217224,217686,218182,218975
46,46,Alaska,State,AK,130396.0,130902.0,131345.0,132269.0,132942.0,133567.0,...,323852,322610,322893,321084,318803,315314,314017,312569,311777,310346
47,47,North Dakota,State,ND,NaN,NaN,NaN,NaN,NaN,NaN,...,239872,240182,240284,240567,240865,241255,241447,241578,241519,241279
48,48,Vermont,State,VT,109882.0,109862.0,109772.0,109627.0,109442.0,109165.0,...,264776,265430,266208,266642,267219,267745,268641,269446,270266,270736
49,49,District of Columbia,State,DC,195619.0,194616.0,193753.0,192309.0,191192.0,190379.0,...,740415,741593,743612,745868,747234,749539,748279,748004,748496,752219
50,50,Wyoming,State,WY,NaN,NaN,NaN,NaN,NaN,NaN,...,250553,251574,252485,253358,253938,254394,254690,255055,255351,255792

In [13]:
florida = csv.loc[csv['RegionName'] == 'Florida']
florida

,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,...,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020
3,3,Florida,State,FL,103811.0,103917.0,104039.0,104269.0,104489.0,104732.0,...,259043,259794,260778,262048,263474,264866,266197,267493,268802,270602

In [17]:
col_list = ['StateName', '6/30/2006','6/30/2007', '6/30/2008', '6/30/2009', '6/30/2010', '6/30/2011', '6/30/2012', '6/30/2013', '6/30/2014', '6/30/2015', '6/30/2016', '6/30/2017', '6/30/2018', '6/30/2019', '6/30/2020']
florida_homes = florida[col_list]
florida_homes

,StateName,6/30/2006,6/30/2007,6/30/2008,6/30/2009,6/30/2010,6/30/2011,6/30/2012,6/30/2013,6/30/2014,6/30/2015,6/30/2016,6/30/2017,6/30/2018,6/30/2019,6/30/2020
3,FL,279318,269232,223001,175795,163062,145904,145116,161685,181107,193642,210815,228108,244794,255701,267493

In [27]:
median_fl_sfh = pd.DataFrame ({
    'avg_sale_price':[279318, 269232, 223001, 175795, 163062, 145904, 145116, 161685, 181107, 193642, 210815, 228108, 244794, 255701, 267493],
    'year':[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
})

median_fl_sfh

    avg_sale_price  year
0           279318  2006
1           269232  2007
2           223001  2008
3           175795  2009
4           163062  2010
5           145904  2011
6           145116  2012
7           161685  2013
8           181107  2014
9           193642  2015
10          210815  2016
11          228108  2017
12          244794  2018
13          255701  2019
14          267493  2020

In [32]:
postgres_conn_string = f"postgres:{password}" 
engine = create_engine(f"postgresql://{postgres_conn_string}@localhost:5432/housing", paramstyle="format")

In [34]:
median_fl_sfh.to_sql(name='housing', con=engine, if_exists='append', index=False)

In [35]:
pd.read_sql_query('SELECT * FROM housing', con=engine).head()

   avg_sale_price  year
0          279318  2006
1          269232  2007
2          223001  2008
3          175795  2009
4          163062  2010