In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
csv = pd.read_csv('median_income_data.csv')
csv.head()

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Table H-8. Median Household Income by State: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Households as of March of the following year....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CURRENT DOLLARS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,2018,NaN,2017 (40),NaN,2017,NaN,2016,NaN,2015,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
4,NaN,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,...,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror

In [3]:
# This is how I knew which rows were specifically for Florida

# florida = csv.loc[csv['Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61'] == 'Florida']
# florida

In [4]:
flipped_csv = csv.T.reset_index(); 
flipped_csv.head()

,index,0,1,2,3,4,5,6,7,8,...,105,106,107,108,109,110,111,112,113,114
0,Table with row headers in column A and column ...,Table H-8. Median Household Income by State: ...,(Households as of March of the following year....,CURRENT DOLLARS,State,NaN,United States,Alabama,Alaska,Arizona,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,"Source: U.S. Bureau of the Census, Current Pop...",Footnotes are available at <www.census.gov/top...,NaN
1,Unnamed: 1,NaN,NaN,NaN,2018,Median\nincome,"63,179","49,936","68,734","62,283",...,"77,067","70,066","77,151","79,726","50,573","62,629","62,539",NaN,NaN,NaN
2,Unnamed: 2,NaN,NaN,NaN,NaN,Standard\nerror,420,"2,423","3,390","2,291",...,"2,327","2,350","3,086","3,025","1,337","2,039","3,892",NaN,NaN,NaN
3,Unnamed: 3,NaN,NaN,NaN,2017 (40),Median\nincome,"61,136","50,865","77,987","59,700",...,"71,490","65,234","72,537","73,284","48,102","65,029","60,987",NaN,NaN,NaN
4,Unnamed: 4,NaN,NaN,NaN,NaN,Standard\nerror,322,"1,094","3,718","2,689",...,"2,217","3,389","3,898","2,176","1,308","2,979","3,262",NaN,NaN,NaN

In [5]:
flipped_csv.columns = flipped_csv.iloc[0]
flipped_csv.head()

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",Table H-8. Median Household Income by State: 1984 to 2018,"(Households as of March of the following year. Income in current and 2018 CPI-U-RS adjusted dollars. (28) Beginning in 2010, standard errors were calculated using replicate weights)",CURRENT DOLLARS,State,NaN,United States,Alabama,Alaska,Arizona,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,"Source: U.S. Bureau of the Census, Current Population Survey, Annual Social and Economic Supplements. For information on confidentiality protection, sampling error, nonsampling error, and definitions, see <www2.census.gov/programs-surveys/cps/techdocs/cpsmar19.pdf>.",Footnotes are available at <www.census.gov/topics/income-poverty/income/guidance/cps-historic-footnotes.html>.,NaN
0,Table with row headers in column A and column ...,Table H-8. Median Household Income by State: ...,(Households as of March of the following year....,CURRENT DOLLARS,State,NaN,United States,Alabama,Alaska,Arizona,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,"Source: U.S. Bureau of the Census, Current Pop...",Footnotes are available at <www.census.gov/top...,NaN
1,Unnamed: 1,NaN,NaN,NaN,2018,Median\nincome,"63,179","49,936","68,734","62,283",...,"77,067","70,066","77,151","79,726","50,573","62,629","62,539",NaN,NaN,NaN
2,Unnamed: 2,NaN,NaN,NaN,NaN,Standard\nerror,420,"2,423","3,390","2,291",...,"2,327","2,350","3,086","3,025","1,337","2,039","3,892",NaN,NaN,NaN
3,Unnamed: 3,NaN,NaN,NaN,2017 (40),Median\nincome,"61,136","50,865","77,987","59,700",...,"71,490","65,234","72,537","73,284","48,102","65,029","60,987",NaN,NaN,NaN
4,Unnamed: 4,NaN,NaN,NaN,NaN,Standard\nerror,322,"1,094","3,718","2,689",...,"2,217","3,389","3,898","2,176","1,308","2,979","3,262",NaN,NaN,NaN

In [6]:
# It was literally faster and easier to type out 34 years worth of numerals than to fight with Pandas to convert and reconvert the array to usable data
years = [1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
# pd.DataFrame(years)

years.reverse()
years

[2020,
 2019,
 2018,
 2017,
 2016,
 2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000,
 1999,
 1998,
 1997,
 1996,
 1995,
 1994,
 1993,
 1992,
 1991,
 1990,
 1989,
 1988,
 1987,
 1986,
 1985,
 1984]

In [7]:
# Here we're going to narrow the data set down to states and national averages
getting_states_data = flipped_csv.dropna(axis=1)
getting_states_data

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Table with row headers in column A and column ...,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,Unnamed: 1,"63,179","49,936","68,734","62,283","49,781","70,489","73,034","72,812","65,012",...,"59,463","56,060","59,785","77,067","70,066","77,151","79,726","50,573","62,629","62,539"
2,Unnamed: 2,420,"2,423","3,390","2,291","2,108","1,233","3,562","5,119","3,599",...,"2,642","1,442","1,372","2,327","2,350","3,086","3,025","1,337","2,039","3,892"
3,Unnamed: 3,"61,136","50,865","77,987","59,700","49,751","70,038","74,984","74,304","64,961",...,"58,301","56,654","61,557","71,490","65,234","72,537","73,284","48,102","65,029","60,987"
4,Unnamed: 4,322,"1,094","3,718","2,689","2,491","1,576","2,661","3,453","5,230",...,"4,083","2,183","1,358","2,217","3,389","3,898","2,176","1,308","2,979","3,262"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Unnamed: 70,129,885,"1,017",718,765,570,926,"1,605","1,212",...,"1,456","1,939","1,127","1,777","2,200","2,356","2,084","1,985","1,761","1,893"
71,Unnamed: 71,"23,618","18,333","34,782","23,877","17,451","26,981","28,182","31,090","22,980",...,"40,488","39,676","52,988","56,325","58,025","63,446","53,562","35,670","51,879","49,279"
72,Unnamed: 72,128,760,"1,089",744,764,350,850,"1,129","1,366",...,"1,567","1,243","1,219","1,567","2,102","2,955","1,687","1,848","2,591","2,341"
73,Unnamed: 73,"22,415","17,310","32,356","21,425","15,674","25,287","25,801","29,951","25,819",...,"44,803","38,739","53,148","53,224","52,118","61,229","57,748","38,880","47,882","54,976"
74,Unnamed: 74,102,605,"1,473",609,748,364,805,"1,238","1,027",...,"2,142","1,330","1,230","1,697","2,269","2,018","1,900","1,403","1,895","1,687"

In [8]:
# I noticed we have duplicated states, lets get rid of those...
narrowed_data = df = getting_states_data.loc[:,~getting_states_data.columns.duplicated()]
narrowed_data

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Table with row headers in column A and column ...,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,Unnamed: 1,"63,179","49,936","68,734","62,283","49,781","70,489","73,034","72,812","65,012",...,"59,463","56,060","59,785","77,067","70,066","77,151","79,726","50,573","62,629","62,539"
2,Unnamed: 2,420,"2,423","3,390","2,291","2,108","1,233","3,562","5,119","3,599",...,"2,642","1,442","1,372","2,327","2,350","3,086","3,025","1,337","2,039","3,892"
3,Unnamed: 3,"61,136","50,865","77,987","59,700","49,751","70,038","74,984","74,304","64,961",...,"56,914","55,306","60,092","69,789","63,682","70,811","71,540","46,957","63,482","59,536"
4,Unnamed: 4,322,"1,094","3,718","2,689","2,491","1,576","2,661","3,453","5,230",...,"3,986","2,131","1,326","2,164","3,308","3,805","2,124","1,277","2,908","3,184"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Unnamed: 70,129,885,"1,017",718,765,570,926,"1,605","1,212",...,664,884,514,810,"1,003","1,074",950,905,803,863
71,Unnamed: 71,"23,618","18,333","34,782","23,877","17,451","26,981","28,182","31,090","22,980",...,"18,142","17,778","23,743","25,238","26,000","28,429","24,000","15,983","23,246","22,081"
72,Unnamed: 72,128,760,"1,089",744,764,350,850,"1,129","1,366",...,702,557,546,702,942,"1,324",756,828,"1,161","1,049"
73,Unnamed: 73,"22,415","17,310","32,356","21,425","15,674","25,287","25,801","29,951","25,819",...,"19,409","16,782","23,024","23,057","22,578","26,525","25,017","16,843","20,743","23,816"
74,Unnamed: 74,102,605,"1,473",609,748,364,805,"1,238","1,027",...,928,576,533,735,983,874,823,608,821,731

In [9]:
# Getting rid of the first column with the weird name
mean_state_data = narrowed_data.drop(columns = 'Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61')
mean_state_data

,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,D.C.,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,D.C.,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,"63,179","49,936","68,734","62,283","49,781","70,489","73,034","72,812","65,012","85,750",...,"59,463","56,060","59,785","77,067","70,066","77,151","79,726","50,573","62,629","62,539"
2,420,"2,423","3,390","2,291","2,108","1,233","3,562","5,119","3,599","2,659",...,"2,642","1,442","1,372","2,327","2,350","3,086","3,025","1,337","2,039","3,892"
3,"61,136","50,865","77,987","59,700","49,751","70,038","74,984","74,304","64,961","81,282",...,"56,914","55,306","60,092","69,789","63,682","70,811","71,540","46,957","63,482","59,536"
4,322,"1,094","3,718","2,689","2,491","1,576","2,661","3,453","5,230","1,903",...,"3,986","2,131","1,326","2,164","3,308","3,805","2,124","1,277","2,908","3,184"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,129,885,"1,017",718,765,570,926,"1,605","1,212","1,252",...,664,884,514,810,"1,003","1,074",950,905,803,863
71,"23,618","18,333","34,782","23,877","17,451","26,981","28,182","31,090","22,980","21,076",...,"18,142","17,778","23,743","25,238","26,000","28,429","24,000","15,983","23,246","22,081"
72,128,760,"1,089",744,764,350,850,"1,129","1,366",756,...,702,557,546,702,942,"1,324",756,828,"1,161","1,049"
73,"22,415","17,310","32,356","21,425","15,674","25,287","25,801","29,951","25,819","20,408",...,"19,409","16,782","23,024","23,057","22,578","26,525","25,017","16,843","20,743","23,816"
74,102,605,"1,473",609,748,364,805,"1,238","1,027",860,...,928,576,533,735,983,874,823,608,821,731

In [10]:
# We're going to flip the columns again and make the states the index
making_missy_elliot_proud = mean_state_data.T 
making_missy_elliot_proud.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,,,,,,,,,,,,,,,,,,,,,
United States,United States,"63,179",420,"61,136",322,"61,372",335,"59,039",436,"56,516",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
Alabama,Alabama,"49,936","2,423","50,865","1,094","51,113",845,"47,221","2,301","44,509",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
Alaska,Alaska,"68,734","3,390","77,987","3,718","72,231","2,719","75,723","4,086","75,112",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
Arizona,Arizona,"62,283","2,291","59,700","2,689","61,125","2,642","57,100","1,971","52,248",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609
Arkansas,Arkansas,"49,781","2,108","49,751","2,491","48,829","2,642","45,907","2,165","42,798",...,"20,172",706,"18,827","1,008","18,730",765,"17,451",764,"15,674",748

In [11]:
# # Cool, now I need to drop the first column, then every other column, and then use "years" as the column headers
dropping_first_column = making_missy_elliot_proud.drop(axis=1, columns=0)
dropping_first_column

# # Saving for now -- Will need to see how many columns need to go
# dropping_first_column.to_csv('almost_done_all_states', index=True)

,1,2,3,4,5,6,7,8,9,10,...,65,66,67,68,69,70,71,72,73,74
0,,,,,,,,,,,,,,,,,,,,,
United States,"63,179",420,"61,136",322,"61,372",335,"59,039",436,"56,516",321,...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
Alabama,"49,936","2,423","50,865","1,094","51,113",845,"47,221","2,301","44,509","3,419",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
Alaska,"68,734","3,390","77,987","3,718","72,231","2,719","75,723","4,086","75,112","3,485",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
Arizona,"62,283","2,291","59,700","2,689","61,125","2,642","57,100","1,971","52,248","2,008",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609
Arkansas,"49,781","2,108","49,751","2,491","48,829","2,642","45,907","2,165","42,798","1,572",...,"20,172",706,"18,827","1,008","18,730",765,"17,451",764,"15,674",748
California,"70,489","1,233","70,038","1,576","69,759","1,452","66,637","1,075","63,636","1,711",...,"30,287",634,"30,146",538,"29,010",570,"26,981",350,"25,287",364
Colorado,"73,034","3,562","74,984","2,661","74,172","2,982","70,566","4,125","66,596","3,682",...,"26,214","1,285","26,476","1,075","27,192",926,"28,182",850,"25,801",805
Connecticut,"72,812","5,119","74,304","3,453","72,780","3,509","75,923","3,404","72,889","4,449",...,"36,213","1,293","32,862","1,362","32,721","1,605","31,090","1,129","29,951","1,238"
Delaware,"65,012","3,599","64,961","5,230","62,318","3,300","58,046","2,992","57,756","3,392",...,"30,505","1,167","29,244",875,"25,626","1,212","22,980","1,366","25,819","1,027"
D.C.,"85,750","2,659","81,282","1,903","83,382","3,319","70,982","2,734","70,071","2,861",...,"26,741",748,"27,455","1,285","24,322","1,252","21,076",756,"20,408",860
Florida,"54,644","1,887","53,086","1,438","53,681","1,816","51,176",835,"48,825","1,395",...,"25,406",475,"24,489",476,"22,849",540,"21,343",437,"19,785",468
Georgia,"55,821","2,032","57,985","2,288","57,016","2,434","53,527","1,679","50,768","1,401",...,"26,566",896,"26,714","1,380","24,370","1,112","21,049",788,"19,984",815
Hawaii,"80,108","3,482","73,599","2,352","73,575","2,227","72,133","2,510","64,514","2,840",...,"33,024","1,482","35,022","1,074","29,003","1,206","28,961","1,446","28,877","1,216"
Idaho,"58,728","2,405","59,497","2,259","60,208","2,400","56,564","1,261","51,624","1,260",...,"23,450","1,004","20,755",834,"20,749",680,"20,761",598,"21,092",963
Illinois,"70,145","2,253","65,969","1,667","64,609","1,999","61,386","1,761","60,413","1,999",...,"29,524",754,"27,084",536,"26,511",634,"24,870",523,"23,752",567
Indiana,"59,892","1,997","58,767","1,655","58,873","2,026","56,094","2,877","51,983","1,682",...,"26,293",931,"22,519",944,"22,728",709,"22,675",626,"22,770",710
Iowa,"68,718","2,910","63,467","4,760","63,481","5,512","59,094","2,484","60,855","3,275",...,"24,305","1,078","22,190",912,"22,459",750,"20,927",604,"19,863",745
Kansas,"63,938","2,027","56,900","1,937","57,872","2,898","56,810","3,268","54,865","3,731",...,"25,566","1,153","25,583",900,"23,926",782,"22,788","1,033","24,629",912
Kentucky,"54,555","3,668","49,672","1,885","51,348","1,364","45,369","2,005","42,387","2,269",...,"19,907",801,"20,673",939,"19,874","1,006","17,361",748,"17,680","1,079"
Louisiana,"49,973","1,754","43,565","2,088","43,903","1,453","42,196","1,197","45,922","2,140",...,"20,497","1,474","21,349",858,"20,890",956,"21,179",728,"18,949",880
Maine,"58,663","5,683","53,316","3,121","51,664","2,146","50,856","3,346","50,756","1,929",...,"26,402",942,"23,600","1,019","23,424",970,"20,519",803,"20,648",884
Maryland,"86,223","3,331","82,093","3,643","81,084","3,652","73,760","2,591","73,594","2,692",...,"36,552","1,196","34,970","1,388","30,604","1,036","30,136",966,"29,708","1,151"
Massachusetts,"86,345","2,785","76,243","2,394","73,227","3,328","72,266","2,911","67,861","2,790",...,"33,213",839,"32,241",716,"30,339",735,"28,207",810,"26,959",693
Michigan,"60,449","1,906","56,405","2,286","57,700","2,337","57,091","1,908","54,203","2,005",...,"29,472",607,"27,702",724,"26,605",648,"24,242",838,"22,965",635
Minnesota,"71,817","3,656","69,975","4,649","71,920","2,991","70,218","4,045","68,730","3,063",...,"29,087","1,041","28,082","1,113","26,443","1,150","23,856","1,022","24,436",914
Mississippi,"42,781","2,304","43,281","1,795","43,441","2,204","41,099","1,226","40,037","1,071",...,"18,166",888,"18,513",901,"16,513",639,"16,413",619,"15,430",732
Missouri,"61,726","2,442","56,530","2,333","56,885","2,611","55,016","1,719","59,196","2,607",...,"23,443","1,088","23,720","1,167","21,925",772,"21,939",608,"20,775",715
Montana,"57,679","2,876","57,407","2,223","59,087","2,589","57,075","2,880","51,395","2,937",...,"22,231",829,"20,474",799,"20,328",749,"20,236",800,"19,536",720
Nebraska,"67,575","3,933","59,583","2,790","59,619","2,848","59,374","2,678","60,474","2,937",...,"25,159",960,"23,268",761,"21,772",814,"21,799",914,"21,397",765
Nevada,"61,864","2,116","58,041","2,952","56,550","3,039","55,431","2,137","52,008","2,272",...,"27,983",956,"26,878","1,128","26,217",895,"23,274","1,005","25,776","1,018"
New Hampshire,"81,346","3,394","75,630","3,941","74,801","3,041","76,260","2,913","75,675","3,519",...,"34,625","1,129","32,338","1,450","30,548",829,"26,403","1,074","25,914",735
New Jersey,"74,176","2,845","71,240","4,129","72,997","2,999","68,468","2,867","68,357","3,132",...,"36,287",658,"34,241",794,"31,715",842,"30,980",643,"27,776",800
New Mexico,"48,283","2,202","45,601","1,826","47,855","1,969","48,451","2,961","45,119","2,885",...,"19,296",833,"20,758",621,"19,845",693,"20,423","1,025","20,630","1,029"
New York,"67,274","1,722","61,543","1,722","62,447","2,093","61,437","1,405","58,005","2,205",...,"28,915",668,"26,384",456,"25,025",474,"23,639",523,"22,027",417
North Carolina,"53,369","1,761","49,547","2,217","50,343","1,760","53,764","1,629","50,797","1,343",...,"24,415",536,"22,760",542,"21,861",698,"21,451",585,"20,569",641
North Dakota,"66,505","3,095","60,167","2,102","59,886","1,676","60,184","2,290","57,415","3,233",...,"24,092","1,009","22,576",905,"21,508",785,"21,205",809,"20,771","1,038"
Ohio,"61,633","2,254","60,688","1,892","59,768","1,890","53,985","1,894","53,301","1,957",...,"27,740",636,"25,773",555,"25,115",588,"25,174",564,"23,123",492
Oklahoma,"54,434","2,774","51,882","3,109","55,006","3,102","50,943","1,652","47,077","1,937",...,"23,667",756,"21,691",884,"20,948",871,"21,205",764,"21,148",718
Oregon,"69,165","3,655","62,498","2,542","64,610","2,856","59,135","2,622","60,834","2,374",...,"27,748","1,150","25,038","1,092","24,773","1,002","21,894","1,042","21,399",745
Pennsylvania,"64,524","1,635","61,285","1,846","63,173","2,753","60,979","2,036","60,389","2,227",...,"26,742",497,"25,424",541,"23,807",495,"22,877",538,"20,346",499
Rhode Island,"62,266","3,348","65,401","4,044","66,390","4,209","61,528","2,828","55,701","3,247",...,"29,842","1,584","28,292","1,440","26,540","1,060","24,625",900,"21,612",848
South Carolina,"57,444","2,082","54,537","2,133","54,971","2,078","54,336","3,153","46,360","2,266",...,"25,533","1,150","25,049","1,136","21,968",864,"20,036",862,"20,309",934
South Dakota,"59,463","2,642","56,914","3,986","56,894","3,633","57,450","3,075","55,065","2,604",...,"22,294",703,"21,151",597,"19,898",664,"18,142",702,"19,409",928
Tennessee,"56,060","1,442","55,306","2,131","55,240","2,162","51,344","1,387","47,330","1,708",...,"20,856","1,017","21,179",795,"18,256",884,"17,778",557,"16,782",576
Texas,"59,785","1,372","60,092","1,326","59,295","1,702","58,146","1,407","56,473","1,289",...,"24,963",582,"24,721",637,"24,162",514,"23,743",546,"23,024",533
Utah,"77,067","2,327","69,789","2,164","71,319","2,250","67,481","2,237","66,258","2,462",...,"26,313",909,"26,529","1,194","26,281",810,"25,238",702,"23,057",735
Vermont,"70,066","2,350","63,682","3,308","63,805","3,133","60,837","1,364","59,494","2,622",...,"28,988","1,077","25,415","1,374","24,599","1,003","26,000",942,"22,578",983
Virginia,"77,151","3,086","70,811","3,805","71,293","3,276","66,451","2,436","61,486","2,439",...,"32,648","1,319","29,996","1,013","29,715","1,074","28,429","1,324","26,525",874
Washington,"79,726","3,025","71,540","2,124","75,418","3,307","70,310","2,092","67,243","3,253",...,"32,327","1,030","27,319","1,108","26,881",950,"24,000",756,"25,017",823
West Virginia,"50,573","1,337","46,957","1,277","45,392","1,485","44,354","1,994","42,824","3,132",...,"19,353",930,"17,207",778,"16,464",905,"15,983",828,"16,843",608
Wisconsin,"62,629","2,039","63,482","2,908","63,451","3,673","59,817","1,845","55,425","1,487",...,"29,575",978,"26,369","1,410","26,430",803,"23,246","1,161","20,743",821
Wyoming,"62,539","3,892","59,536","3,184","57,837","3,134","57,829","3,122","60,925","2,024",...,"26,419","1,095","27,590","1,458","23,559",863,"22,081","1,049","23,816",731

In [12]:
# We needed to drop it down to 37 columns because we have 37 years of data
narrowed_columns = dropping_first_column[dropping_first_column.columns[::2]]
narrowed_columns.head()

,1,3,5,7,9,11,13,15,17,19,...,55,57,59,61,63,65,67,69,71,73
0,,,,,,,,,,,,,,,,,,,,,
United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017","50,054",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464","42,590",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648","57,431",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044","48,621",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018","41,302",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"

In [13]:
# We're almost done here, I should be able to rename the columns using the "years" list we created and reversed earlier
df2 = narrowed_columns.set_axis([years], axis=1, inplace=False)
df2

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984
0,,,,,,,,,,,,,,,,,,,,,
United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017","50,054",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464","42,590",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648","57,431",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044","48,621",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018","41,302",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"
California,"70,489","70,038","69,759","66,637","63,636","60,487","60,794","57,528","57,020","53,367",...,"34,073","34,903","33,664","33,290","33,009","30,287","30,146","29,010","26,981","25,287"
Colorado,"73,034","74,984","74,172","70,566","66,596","60,940","67,912","63,371","57,255","58,629",...,"34,488","32,484","31,499","30,733","26,806","26,214","26,476","27,192","28,182","25,801"
Connecticut,"72,812","74,304","72,780","75,923","72,889","70,161","69,291","67,781","64,247","65,415",...,"39,516","40,841","42,154","38,870","42,321","36,213","32,862","32,721","31,090","29,951"
Delaware,"65,012","64,961","62,318","58,046","57,756","57,522","54,091","52,219","48,972","54,660",...,"36,064","35,678","32,585","30,804","32,068","30,505","29,244","25,626","22,980","25,819"
D.C.,"85,750","81,282","83,382","70,982","70,071","68,277","60,057","60,675","65,246","55,251",...,"27,304","30,247","29,885","27,392","26,752","26,741","27,455","24,322","21,076","20,408"
Florida,"54,644","53,086","53,681","51,176","48,825","46,140","48,532","47,886","46,071","45,105",...,"28,550","27,349","27,252","26,685","26,085","25,406","24,489","22,849","21,343","19,785"
Georgia,"55,821","57,985","57,016","53,527","50,768","49,555","46,992","47,439","48,121","45,973",...,"31,663","28,797","27,212","27,561","27,542","26,566","26,714","24,370","21,049","19,984"
Hawaii,"80,108","73,599","73,575","72,133","64,514","71,223","64,235","61,408","56,263","59,047",...,"42,662","42,113","37,246","38,921","35,035","33,024","35,022","29,003","28,961","28,877"
Idaho,"58,728","59,497","60,208","56,564","51,624","53,438","48,467","51,767","47,922","47,459",...,"31,010","27,704","26,116","25,305","24,654","23,450","20,755","20,749","20,761","21,092"
Illinois,"70,145","65,969","64,609","61,386","60,413","54,916","53,937","57,196","51,738","50,637",...,"32,857","31,551","31,884","32,542","31,300","29,524","27,084","26,511","24,870","23,752"
Indiana,"59,892","58,767","58,873","56,094","51,983","48,060","49,455","50,553","46,158","44,445",...,"29,475","28,530","27,089","26,928","25,898","26,293","22,519","22,728","22,675","22,770"
Iowa,"68,718","63,467","63,481","59,094","60,855","57,810","60,156","54,855","53,442","50,219",...,"28,663","28,743","28,553","27,288","26,265","24,305","22,190","22,459","20,927","19,863"
Kansas,"63,938","56,900","57,872","56,810","54,865","53,444","47,820","51,485","50,003","46,147",...,"29,770","30,346","29,295","29,917","26,862","25,566","25,583","23,926","22,788","24,629"
Kentucky,"54,555","49,672","51,348","45,369","42,387","42,786","44,879","42,158","41,086","39,856",...,"24,376","23,485","23,764","24,780","23,283","19,907","20,673","19,874","17,361","17,680"
Louisiana,"49,973","43,565","43,903","42,196","45,922","42,406","46,425","39,622","39,085","40,658",...,"26,312","25,439","25,299","22,405","22,861","20,497","21,349","20,890","21,179","18,949"
Maine,"58,663","53,316","51,664","50,856","50,756","51,710","54,957","50,121","49,158","49,693",...,"27,438","29,617","27,868","27,464","28,221","26,402","23,600","23,424","20,519","20,648"
Maryland,"86,223","82,093","81,084","73,760","73,594","76,165","69,353","65,262","71,836","68,876",...,"39,939","37,203","36,952","38,857","36,016","36,552","34,970","30,604","30,136","29,708"
Massachusetts,"86,345","76,243","73,227","72,266","67,861","63,151","62,529","62,963","63,656","63,313",...,"37,064","36,359","35,714","36,247","36,086","33,213","32,241","30,339","28,207","26,959"
Michigan,"60,449","56,405","57,700","57,091","54,203","52,005","56,567","48,801","50,015","48,879",...,"32,662","32,267","32,117","29,937","30,775","29,472","27,702","26,605","24,242","22,965"
Minnesota,"71,817","69,975","71,920","70,218","68,730","67,244","64,324","60,907","61,795","57,820",...,"33,682","30,981","29,479","31,465","30,185","29,087","28,082","26,443","23,856","24,436"
Mississippi,"42,781","43,281","43,441","41,099","40,037","35,521","32,338","40,850","36,641","41,090",...,"22,191","20,570","19,475","20,178","19,917","18,166","18,513","16,513","16,413","15,430"
Missouri,"61,726","56,530","56,885","55,016","59,196","56,630","46,303","50,311","49,764","45,774",...,"28,682","27,361","27,926","27,332","26,497","23,443","23,720","21,925","21,939","20,775"
Montana,"57,679","57,407","59,087","57,075","51,395","51,102","43,201","44,132","45,088","40,277",...,"26,470","26,525","24,827","23,375","23,692","22,231","20,474","20,328","20,236","19,536"
Nebraska,"67,575","59,583","59,619","59,374","60,474","56,870","57,623","53,774","52,196","55,616",...,"31,008","30,048","29,549","27,482","26,319","25,159","23,268","21,772","21,799","21,397"
Nevada,"61,864","58,041","56,550","55,431","52,008","49,875","51,846","45,369","47,333","47,043",...,"35,814","31,908","32,937","32,023","29,340","27,983","26,878","26,217","23,274","25,776"
New Hampshire,"81,346","75,630","74,801","76,260","75,675","73,397","69,099","71,322","67,819","65,880",...,"37,964","39,436","36,032","40,805","37,532","34,625","32,338","30,548","26,403","25,914"
New Jersey,"74,176","71,240","72,997","68,468","68,357","65,243","63,754","61,782","66,692","62,338",...,"40,500","39,000","40,049","38,734","39,120","36,287","34,241","31,715","30,980","27,776"
New Mexico,"48,283","45,601","47,855","48,451","45,119","46,686","40,166","42,127","43,424","41,982",...,"26,758","25,860","26,540","25,039","22,602","19,296","20,758","19,845","20,423","20,630"
New York,"67,274","61,543","62,447","61,437","58,005","54,310","49,966","53,843","47,680","50,636",...,"31,697","31,051","31,794","31,591","31,496","28,915","26,384","25,025","23,639","22,027"
North Carolina,"53,369","49,547","50,343","53,764","50,797","46,784","46,337","41,208","41,553","45,206",...,"28,820","27,771","26,853","26,329","26,406","24,415","22,760","21,861","21,451","20,569"
North Dakota,"66,505","60,167","59,886","60,184","57,415","60,730","59,152","52,888","55,766","56,361",...,"28,118","26,959","25,892","25,264","25,229","24,092","22,576","21,508","21,205","20,771"
Ohio,"61,633","60,688","59,768","53,985","53,301","49,644","50,748","46,398","44,375","44,648",...,"31,285","31,404","29,790","30,013","29,021","27,740","25,773","25,115","25,174","23,123"
Oklahoma,"54,434","51,882","55,006","50,943","47,077","47,199","46,162","43,777","48,407","48,455",...,"26,260","25,284","25,462","24,384","23,667","23,667","21,691","20,948","21,205","21,148"
Oregon,"69,165","62,498","64,610","59,135","60,834","58,875","48,999","56,307","51,775","51,526",...,"33,138","31,927","30,190","29,281","28,529","27,748","25,038","24,773","21,894","21,399"
Pennsylvania,"64,524","61,285","63,173","60,979","60,389","55,173","55,156","53,952","51,904","49,910",...,"30,995","29,882","30,367","29,005","28,690","26,742","25,424","23,807","22,877","20,346"
Rhode Island,"62,266","65,401","66,390","61,528","55,701","58,633","56,323","57,812","56,065","49,033",...,"33,509","30,432","30,836","31,968","30,124","29,842","28,292","26,540","24,625","21,612"
South Carolina,"57,444","54,537","54,971","54,336","46,360","44,929","43,563","43,749","44,401","40,084",...,"26,053","27,578","27,463","28,735","23,798","25,533","25,049","21,968","20,036","20,309"
South Dakota,"59,463","56,914","56,894","57,450","55,065","53,053","53,413","54,453","49,415","47,223",...,"27,737","26,259","24,639","24,571","24,108","22,294","21,151","19,898","18,142","19,409"
Tennessee,"56,060","55,306","55,240","51,344","47,330","43,716","43,361","42,499","42,995","42,279",...,"25,102","24,318","24,453","22,592","22,611","20,856","21,179","18,256","17,778","16,782"
Texas,"59,785","60,092","59,295","58,146","56,473","53,875","51,406","53,027","51,926","49,047",...,"28,727","27,953","27,733","28,228","25,886","24,963","24,721","24,162","23,743","23,024"
Utah,"77,067","69,789","71,319","67,481","66,258","63,383","61,047","62,967","58,341","55,493",...,"35,786","34,251","28,016","30,142","30,717","26,313","26,529","26,281","25,238","23,057"
Vermont,"70,066","63,682","63,805","60,837","59,494","60,708","65,513","54,842","55,582","51,862",...,"31,065","32,755","29,155","31,098","31,295","28,988","25,415","24,599","26,000","22,578"
Virginia,"77,151","70,811","71,293","66,451","61,486","66,155","65,907","67,620","64,632","62,616",...,"36,433","38,198","36,137","35,073","34,118","32,648","29,996","29,715","28,429","26,525"
Washington,"79,726","71,540","75,418","70,310","67,243","59,068","63,922","60,106","62,187","56,850",...,"35,655","33,900","33,970","32,112","31,961","32,327","27,319","26,881","24,000","25,017"
West Virginia,"50,573","46,957","45,392","44,354","42,824","39,552","43,069","40,241","43,553","41,821",...,"22,421","20,271","23,147","22,137","21,677","19,353","17,207","16,464","15,983","16,843"
Wisconsin,"62,629","63,482","63,451","59,817","55,425","58,080","51,726","55,258","53,079","52,058",...,"31,766","33,308","31,133","30,711","29,123","29,575","26,369","26,430","23,246","20,743"
Wyoming,"62,539","59,536","57,837","57,829","60,925","55,690","67,441","55,700","57,512","54,509",...,"29,442","30,209","29,050","29,460","29,521","26,419","27,590","23,559","22,081","23,816"

In [14]:
df2 = df2.reset_index()
df2

,0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984
0,United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
1,Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
2,Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
3,Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
4,Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"
5,California,"70,489","70,038","69,759","66,637","63,636","60,487","60,794","57,528","57,020",...,"34,073","34,903","33,664","33,290","33,009","30,287","30,146","29,010","26,981","25,287"
6,Colorado,"73,034","74,984","74,172","70,566","66,596","60,940","67,912","63,371","57,255",...,"34,488","32,484","31,499","30,733","26,806","26,214","26,476","27,192","28,182","25,801"
7,Connecticut,"72,812","74,304","72,780","75,923","72,889","70,161","69,291","67,781","64,247",...,"39,516","40,841","42,154","38,870","42,321","36,213","32,862","32,721","31,090","29,951"
8,Delaware,"65,012","64,961","62,318","58,046","57,756","57,522","54,091","52,219","48,972",...,"36,064","35,678","32,585","30,804","32,068","30,505","29,244","25,626","22,980","25,819"
9,D.C.,"85,750","81,282","83,382","70,982","70,071","68,277","60,057","60,675","65,246",...,"27,304","30,247","29,885","27,392","26,752","26,741","27,455","24,322","21,076","20,408"
10,Florida,"54,644","53,086","53,681","51,176","48,825","46,140","48,532","47,886","46,071",...,"28,550","27,349","27,252","26,685","26,085","25,406","24,489","22,849","21,343","19,785"
11,Georgia,"55,821","57,985","57,016","53,527","50,768","49,555","46,992","47,439","48,121",...,"31,663","28,797","27,212","27,561","27,542","26,566","26,714","24,370","21,049","19,984"
12,Hawaii,"80,108","73,599","73,575","72,133","64,514","71,223","64,235","61,408","56,263",...,"42,662","42,113","37,246","38,921","35,035","33,024","35,022","29,003","28,961","28,877"
13,Idaho,"58,728","59,497","60,208","56,564","51,624","53,438","48,467","51,767","47,922",...,"31,010","27,704","26,116","25,305","24,654","23,450","20,755","20,749","20,761","21,092"
14,Illinois,"70,145","65,969","64,609","61,386","60,413","54,916","53,937","57,196","51,738",...,"32,857","31,551","31,884","32,542","31,300","29,524","27,084","26,511","24,870","23,752"
15,Indiana,"59,892","58,767","58,873","56,094","51,983","48,060","49,455","50,553","46,158",...,"29,475","28,530","27,089","26,928","25,898","26,293","22,519","22,728","22,675","22,770"
16,Iowa,"68,718","63,467","63,481","59,094","60,855","57,810","60,156","54,855","53,442",...,"28,663","28,743","28,553","27,288","26,265","24,305","22,190","22,459","20,927","19,863"
17,Kansas,"63,938","56,900","57,872","56,810","54,865","53,444","47,820","51,485","50,003",...,"29,770","30,346","29,295","29,917","26,862","25,566","25,583","23,926","22,788","24,629"
18,Kentucky,"54,555","49,672","51,348","45,369","42,387","42,786","44,879","42,158","41,086",...,"24,376","23,485","23,764","24,780","23,283","19,907","20,673","19,874","17,361","17,680"
19,Louisiana,"49,973","43,565","43,903","42,196","45,922","42,406","46,425","39,622","39,085",...,"26,312","25,439","25,299","22,405","22,861","20,497","21,349","20,890","21,179","18,949"
20,Maine,"58,663","53,316","51,664","50,856","50,756","51,710","54,957","50,121","49,158",...,"27,438","29,617","27,868","27,464","28,221","26,402","23,600","23,424","20,519","20,648"
21,Maryland,"86,223","82,093","81,084","73,760","73,594","76,165","69,353","65,262","71,836",...,"39,939","37,203","36,952","38,857","36,016","36,552","34,970","30,604","30,136","29,708"
22,Massachusetts,"86,345","76,243","73,227","72,266","67,861","63,151","62,529","62,963","63,656",...,"37,064","36,359","35,714","36,247","36,086","33,213","32,241","30,339","28,207","26,959"
23,Michigan,"60,449","56,405","57,700","57,091","54,203","52,005","56,567","48,801","50,015",...,"32,662","32,267","32,117","29,937","30,775","29,472","27,702","26,605","24,242","22,965"
24,Minnesota,"71,817","69,975","71,920","70,218","68,730","67,244","64,324","60,907","61,795",...,"33,682","30,981","29,479","31,465","30,185","29,087","28,082","26,443","23,856","24,436"
25,Mississippi,"42,781","43,281","43,441","41,099","40,037","35,521","32,338","40,850","36,641",...,"22,191","20,570","19,475","20,178","19,917","18,166","18,513","16,513","16,413","15,430"
26,Missouri,"61,726","56,530","56,885","55,016","59,196","56,630","46,303","50,311","49,764",...,"28,682","27,361","27,926","27,332","26,497","23,443","23,720","21,925","21,939","20,775"
27,Montana,"57,679","57,407","59,087","57,075","51,395","51,102","43,201","44,132","45,088",...,"26,470","26,525","24,827","23,375","23,692","22,231","20,474","20,328","20,236","19,536"
28,Nebraska,"67,575","59,583","59,619","59,374","60,474","56,870","57,623","53,774","52,196",...,"31,008","30,048","29,549","27,482","26,319","25,159","23,268","21,772","21,799","21,397"
29,Nevada,"61,864","58,041","56,550","55,431","52,008","49,875","51,846","45,369","47,333",...,"35,814","31,908","32,937","32,023","29,340","27,983","26,878","26,217","23,274","25,776"
30,New Hampshire,"81,346","75,630","74,801","76,260","75,675","73,397","69,099","71,322","67,819",...,"37,964","39,436","36,032","40,805","37,532","34,625","32,338","30,548","26,403","25,914"
31,New Jersey,"74,176","71,240","72,997","68,468","68,357","65,243","63,754","61,782","66,692",...,"40,500","39,000","40,049","38,734","39,120","36,287","34,241","31,715","30,980","27,776"
32,New Mexico,"48,283","45,601","47,855","48,451","45,119","46,686","40,166","42,127","43,424",...,"26,758","25,860","26,540","25,039","22,602","19,296","20,758","19,845","20,423","20,630"
33,New York,"67,274","61,543","62,447","61,437","58,005","54,310","49,966","53,843","47,680",...,"31,697","31,051","31,794","31,591","31,496","28,915","26,384","25,025","23,639","22,027"
34,North Carolina,"53,369","49,547","50,343","53,764","50,797","46,784","46,337","41,208","41,553",...,"28,820","27,771","26,853","26,329","26,406","24,415","22,760","21,861","21,451","20,569"
35,North Dakota,"66,505","60,167","59,886","60,184","57,415","60,730","59,152","52,888","55,766",...,"28,118","26,959","25,892","25,264","25,229","24,092","22,576","21,508","21,205","20,771"
36,Ohio,"61,633","60,688","59,768","53,985","53,301","49,644","50,748","46,398","44,375",...,"31,285","31,404","29,790","30,013","29,021","27,740","25,773","25,115","25,174","23,123"
37,Oklahoma,"54,434","51,882","55,006","50,943","47,077","47,199","46,162","43,777","48,407",...,"26,260","25,284","25,462","24,384","23,667","23,667","21,691","20,948","21,205","21,148"
38,Oregon,"69,165","62,498","64,610","59,135","60,834","58,875","48,999","56,307","51,775",...,"33,138","31,927","30,190","29,281","28,529","27,748","25,038","24,773","21,894","21,399"
39,Pennsylvania,"64,524","61,285","63,173","60,979","60,389","55,173","55,156","53,952","51,904",...,"30,995","29,882","30,367","29,005","28,690","26,742","25,424","23,807","22,877","20,346"
40,Rhode Island,"62,266","65,401","66,390","61,528","55,701","58,633","56,323","57,812","56,065",...,"33,509","30,432","30,836","31,968","30,124","29,842","28,292","26,540","24,625","21,612"
41,South Carolina,"57,444","54,537","54,971","54,336","46,360","44,929","43,563","43,749","44,401",...,"26,053","27,578","27,463","28,735","23,798","25,533","25,049","21,968","20,036","20,309"
42,South Dakota,"59,463","56,914","56,894","57,450","55,065","53,053","53,413","54,453","49,415",...,"27,737","26,259","24,639","24,571","24,108","22,294","21,151","19,898","18,142","19,409"
43,Tennessee,"56,060","55,306","55,240","51,344","47,330","43,716","43,361","42,499","42,995",...,"25,102","24,318","24,453","22,592","22,611","20,856","21,179","18,256","17,778","16,782"
44,Texas,"59,785","60,092","59,295","58,146","56,473","53,875","51,406","53,027","51,926",...,"28,727","27,953","27,733","28,228","25,886","24,963","24,721","24,162","23,743","23,024"
45,Utah,"77,067","69,789","71,319","67,481","66,258","63,383","61,047","62,967","58,341",...,"35,786","34,251","28,016","30,142","30,717","26,313","26,529","26,281","25,238","23,057"
46,Vermont,"70,066","63,682","63,805","60,837","59,494","60,708","65,513","54,842","55,582",...,"31,065","32,755","29,155","31,098","31,295","28,988","25,415","24,599","26,000","22,578"
47,Virginia,"77,151","70,811","71,293","66,451","61,486","66,155","65,907","67,620","64,632",...,"36,433","38,198","36,137","35,073","34,118","32,648","29,996","29,715","28,429","26,525"
48,Washington,"79,726","71,540","75,418","70,310","67,243","59,068","63,922","60,106","62,187",...,"35,655","33,900","33,970","32,112","31,961","32,327","27,319","26,881","24,000","25,017"
49,West Virginia,"50,573","46,957","45,392","44,354","42,824","39,552","43,069","40,241","43,553",...,"22,421","20,271","23,147","22,137","21,677","19,353","17,207","16,464","15,983","16,843"
50,Wisconsin,"62,629","63,482","63,451","59,817","55,425","58,080","51,726","55,258","53,079",...,"31,766","33,308","31,133","30,711","29,123","29,575","26,369","26,430","23,246","20,743"
51,Wyoming,"62,539","59,536","57,837","57,829","60,925","55,690","67,441","55,700","57,512",...,"29,442","30,209","29,050","29,460","29,521","26,419","27,590","23,559","22,081","23,816"

In [20]:
hopefully_fixed = df2.rename({0: "State"}, axis=1)
df = pd.DataFrame(hopefully_fixed)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984
0,United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
1,Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
2,Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
3,Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
4,Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"
5,California,"70,489","70,038","69,759","66,637","63,636","60,487","60,794","57,528","57,020",...,"34,073","34,903","33,664","33,290","33,009","30,287","30,146","29,010","26,981","25,287"
6,Colorado,"73,034","74,984","74,172","70,566","66,596","60,940","67,912","63,371","57,255",...,"34,488","32,484","31,499","30,733","26,806","26,214","26,476","27,192","28,182","25,801"
7,Connecticut,"72,812","74,304","72,780","75,923","72,889","70,161","69,291","67,781","64,247",...,"39,516","40,841","42,154","38,870","42,321","36,213","32,862","32,721","31,090","29,951"
8,Delaware,"65,012","64,961","62,318","58,046","57,756","57,522","54,091","52,219","48,972",...,"36,064","35,678","32,585","30,804","32,068","30,505","29,244","25,626","22,980","25,819"
9,D.C.,"85,750","81,282","83,382","70,982","70,071","68,277","60,057","60,675","65,246",...,"27,304","30,247","29,885","27,392","26,752","26,741","27,455","24,322","21,076","20,408"
10,Florida,"54,644","53,086","53,681","51,176","48,825","46,140","48,532","47,886","46,071",...,"28,550","27,349","27,252","26,685","26,085","25,406","24,489","22,849","21,343","19,785"
11,Georgia,"55,821","57,985","57,016","53,527","50,768","49,555","46,992","47,439","48,121",...,"31,663","28,797","27,212","27,561","27,542","26,566","26,714","24,370","21,049","19,984"
12,Hawaii,"80,108","73,599","73,575","72,133","64,514","71,223","64,235","61,408","56,263",...,"42,662","42,113","37,246","38,921","35,035","33,024","35,022","29,003","28,961","28,877"
13,Idaho,"58,728","59,497","60,208","56,564","51,624","53,438","48,467","51,767","47,922",...,"31,010","27,704","26,116","25,305","24,654","23,450","20,755","20,749","20,761","21,092"
14,Illinois,"70,145","65,969","64,609","61,386","60,413","54,916","53,937","57,196","51,738",...,"32,857","31,551","31,884","32,542","31,300","29,524","27,084","26,511","24,870","23,752"
15,Indiana,"59,892","58,767","58,873","56,094","51,983","48,060","49,455","50,553","46,158",...,"29,475","28,530","27,089","26,928","25,898","26,293","22,519","22,728","22,675","22,770"
16,Iowa,"68,718","63,467","63,481","59,094","60,855","57,810","60,156","54,855","53,442",...,"28,663","28,743","28,553","27,288","26,265","24,305","22,190","22,459","20,927","19,863"
17,Kansas,"63,938","56,900","57,872","56,810","54,865","53,444","47,820","51,485","50,003",...,"29,770","30,346","29,295","29,917","26,862","25,566","25,583","23,926","22,788","24,629"
18,Kentucky,"54,555","49,672","51,348","45,369","42,387","42,786","44,879","42,158","41,086",...,"24,376","23,485","23,764","24,780","23,283","19,907","20,673","19,874","17,361","17,680"
19,Louisiana,"49,973","43,565","43,903","42,196","45,922","42,406","46,425","39,622","39,085",...,"26,312","25,439","25,299","22,405","22,861","20,497","21,349","20,890","21,179","18,949"
20,Maine,"58,663","53,316","51,664","50,856","50,756","51,710","54,957","50,121","49,158",...,"27,438","29,617","27,868","27,464","28,221","26,402","23,600","23,424","20,519","20,648"
21,Maryland,"86,223","82,093","81,084","73,760","73,594","76,165","69,353","65,262","71,836",...,"39,939","37,203","36,952","38,857","36,016","36,552","34,970","30,604","30,136","29,708"
22,Massachusetts,"86,345","76,243","73,227","72,266","67,861","63,151","62,529","62,963","63,656",...,"37,064","36,359","35,714","36,247","36,086","33,213","32,241","30,339","28,207","26,959"
23,Michigan,"60,449","56,405","57,700","57,091","54,203","52,005","56,567","48,801","50,015",...,"32,662","32,267","32,117","29,937","30,775","29,472","27,702","26,605","24,242","22,965"
24,Minnesota,"71,817","69,975","71,920","70,218","68,730","67,244","64,324","60,907","61,795",...,"33,682","30,981","29,479","31,465","30,185","29,087","28,082","26,443","23,856","24,436"
25,Mississippi,"42,781","43,281","43,441","41,099","40,037","35,521","32,338","40,850","36,641",...,"22,191","20,570","19,475","20,178","19,917","18,166","18,513","16,513","16,413","15,430"
26,Missouri,"61,726","56,530","56,885","55,016","59,196","56,630","46,303","50,311","49,764",...,"28,682","27,361","27,926","27,332","26,497","23,443","23,720","21,925","21,939","20,775"
27,Montana,"57,679","57,407","59,087","57,075","51,395","51,102","43,201","44,132","45,088",...,"26,470","26,525","24,827","23,375","23,692","22,231","20,474","20,328","20,236","19,536"
28,Nebraska,"67,575","59,583","59,619","59,374","60,474","56,870","57,623","53,774","52,196",...,"31,008","30,048","29,549","27,482","26,319","25,159","23,268","21,772","21,799","21,397"
29,Nevada,"61,864","58,041","56,550","55,431","52,008","49,875","51,846","45,369","47,333",...,"35,814","31,908","32,937","32,023","29,340","27,983","26,878","26,217","23,274","25,776"
30,New Hampshire,"81,346","75,630","74,801","76,260","75,675","73,397","69,099","71,322","67,819",...,"37,964","39,436","36,032","40,805","37,532","34,625","32,338","30,548","26,403","25,914"
31,New Jersey,"74,176","71,240","72,997","68,468","68,357","65,243","63,754","61,782","66,692",...,"40,500","39,000","40,049","38,734","39,120","36,287","34,241","31,715","30,980","27,776"
32,New Mexico,"48,283","45,601","47,855","48,451","45,119","46,686","40,166","42,127","43,424",...,"26,758","25,860","26,540","25,039","22,602","19,296","20,758","19,845","20,423","20,630"
33,New York,"67,274","61,543","62,447","61,437","58,005","54,310","49,966","53,843","47,680",...,"31,697","31,051","31,794","31,591","31,496","28,915","26,384","25,025","23,639","22,027"
34,North Carolina,"53,369","49,547","50,343","53,764","50,797","46,784","46,337","41,208","41,553",...,"28,820","27,771","26,853","26,329","26,406","24,415","22,760","21,861","21,451","20,569"
35,North Dakota,"66,505","60,167","59,886","60,184","57,415","60,730","59,152","52,888","55,766",...,"28,118","26,959","25,892","25,264","25,229","24,092","22,576","21,508","21,205","20,771"
36,Ohio,"61,633","60,688","59,768","53,985","53,301","49,644","50,748","46,398","44,375",...,"31,285","31,404","29,790","30,013","29,021","27,740","25,773","25,115","25,174","23,123"
37,Oklahoma,"54,434","51,882","55,006","50,943","47,077","47,199","46,162","43,777","48,407",...,"26,260","25,284","25,462","24,384","23,667","23,667","21,691","20,948","21,205","21,148"
38,Oregon,"69,165","62,498","64,610","59,135","60,834","58,875","48,999","56,307","51,775",...,"33,138","31,927","30,190","29,281","28,529","27,748","25,038","24,773","21,894","21,399"
39,Pennsylvania,"64,524","61,285","63,173","60,979","60,389","55,173","55,156","53,952","51,904",...,"30,995","29,882","30,367","29,005","28,690","26,742","25,424","23,807","22,877","20,346"
40,Rhode Island,"62,266","65,401","66,390","61,528","55,701","58,633","56,323","57,812","56,065",...,"33,509","30,432","30,836","31,968","30,124","29,842","28,292","26,540","24,625","21,612"
41,South Carolina,"57,444","54,537","54,971","54,336","46,360","44,929","43,563","43,749","44,401",...,"26,053","27,578","27,463","28,735","23,798","25,533","25,049","21,968","20,036","20,309"
42,South Dakota,"59,463","56,914","56,894","57,450","55,065","53,053","53,413","54,453","49,415",...,"27,737","26,259","24,639","24,571","24,108","22,294","21,151","19,898","18,142","19,409"
43,Tennessee,"56,060","55,306","55,240","51,344","47,330","43,716","43,361","42,499","42,995",...,"25,102","24,318","24,453","22,592","22,611","20,856","21,179","18,256","17,778","16,782"
44,Texas,"59,785","60,092","59,295","58,146","56,473","53,875","51,406","53,027","51,926",...,"28,727","27,953","27,733","28,228","25,886","24,963","24,721","24,162","23,743","23,024"
45,Utah,"77,067","69,789","71,319","67,481","66,258","63,383","61,047","62,967","58,341",...,"35,786","34,251","28,016","30,142","30,717","26,313","26,529","26,281","25,238","23,057"
46,Vermont,"70,066","63,682","63,805","60,837","59,494","60,708","65,513","54,842","55,582",...,"31,065","32,755","29,155","31,098","31,295","28,988","25,415","24,599","26,000","22,578"
47,Virginia,"77,151","70,811","71,293","66,451","61,486","66,155","65,907","67,620","64,632",...,"36,433","38,198","36,137","35,073","34,118","32,648","29,996","29,715","28,429","26,525"
48,Washington,"79,726","71,540","75,418","70,310","67,243","59,068","63,922","60,106","62,187",...,"35,655","33,900","33,970","32,112","31,961","32,327","27,319","26,881","24,000","25,017"
49,West Virginia,"50,573","46,957","45,392","44,354","42,824","39,552","43,069","40,241","43,553",...,"22,421","20,271","23,147","22,137","21,677","19,353","17,207","16,464","15,983","16,843"
50,Wisconsin,"62,629","63,482","63,451","59,817","55,425","58,080","51,726","55,258","53,079",...,"31,766","33,308","31,133","30,711","29,123","29,575","26,369","26,430","23,246","20,743"
51,Wyoming,"62,539","59,536","57,837","57,829","60,925","55,690","67,441","55,700","57,512",...,"29,442","30,209","29,050","29,460","29,521","26,419","27,590","23,559","22,081","23,816"

In [16]:
engine = create_engine(f"sqlite:///average_regional_incomes.db")

In [17]:
hopefully_fixed.to_sql(name='avg_regional_incomes', con=engine, if_exists='append', index=False)

In [18]:
engine.table_names()

['avg_regional_incomes']

In [19]:
pd.read_sql_query('SELECT * FROM avg_regional_incomes', con=engine).head()

,"('State',)","(2020,)","(2019,)","(2018,)","(2017,)","(2016,)","(2015,)","(2014,)","(2013,)","(2012,)",...,"(1993,)","(1992,)","(1991,)","(1990,)","(1989,)","(1988,)","(1987,)","(1986,)","(1985,)","(1984,)"
0,United States,"63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939","51,017",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
1,Alabama,"49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381","43,464",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
2,Alaska,"68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137","63,648",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
3,Arizona,"62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602","47,044",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
4,Arkansas,"49,781","49,751","48,829","45,907","42,798","44,922","39,376","39,919","39,018",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"